.grid_3
  .box
    %h2 Database Content
    .block
      %p
        = link_to "#{@nb_commodities} commodities", commodities_path
        %br
        = link_to "#{@nb_technologies} technologies", technologies_path
        %br
        #{@nb_flows} flows
        %br
        #{@nb_parameter_values}  parameter values
        %br
        = link_to "#{@nb_demand_drivers} demand drivers", demand_drivers_path
        %br
        = link_to "#{@nb_combustions} combustion factors", combustions_path
      %p
        - if @last_change
          = link_to "Last change: #{distance_of_time_in_words(Time.now,@last_change.created_at)} ago", versions_path
        - else
          Last change: never

.grid_5
  .box
    %h2 Database Actions
    .block(id="action")
      = link_to "Check Energy System database", check_db_path, :class => "action check_db"
      %br
      = link_to "Empty database", reset_db_path, :confirm => 'Are you sure?', :class => "action reset_db"
      %br
      = link_to "Backup", backup_db_path, :class => "action backup_db"
      %br
      = form_tag(restore_db_path, :multipart => true) do
        = submit_tag "Restore", :disable_with => "Please wait...", :class => "button restore_db"
        = file_field 'upload', 'db', :class => "db_file"

.clear