.grid_3
  .box
    %h2 Main Info
    .block
      %h5 Activity
      %p
        Last change: #{distance_of_time_in_words(Time.new, @last_change,true)}
        %br
      %h5 Energy system database
      %p
        #{@nb_commodities} commodities
        %br
        #{@nb_technologies} technologies
        %br
        #{@nb_demand_drivers} demand drivers
        %br
        #{@nb_parameter_values}  parameter values
        %br
        #{@nb_combustions}  combustion coefficients


.grid_6
  .box
    %h2 Energy System
    .block
      %p
        Empty database
        %br
        = link_to "Check energy system integrity", "/dashboard/check_db"
  .box
    %h2 Main Database
    .block
      %h5 Backup
      %p= link_to "Download the complete database", "/backup.zip"
    .block
      %h5 Restore
      %p
        = form_tag("/restore", :multipart => true) do
          %p= file_field 'upload', 'db', :class => "db_file", :size => nil
          %p= submit_tag "Restore", :disable_with => "Please wait..."
.clear
.grid_12
  .box
    %h2
      %a#toggle-a Revision log
    .block#a
      %p
        - @log.each do |version|
          = version.versioned_type + "[" + version.versioned_id.to_s + "]:"
          modifications on
          = version.modifications.keys.join(",")
          = "(" + distance_of_time_in_words(Time.new, version.created_at,true) + " ago)"
          %br


.clear