.grid_3
  .box
    %h2 Main Info
    .block
      %h5 Energy system database
      %p
        #{@nb_commodities}
        = link_to 'commodities', commodities_path
        %br
        #{@nb_technologies}
        = link_to 'technologies', technologies_path
        %br
        #{@nb_flows} flows
        %br
        #{@nb_parameter_values}  parameter values
        %br
        #{@nb_demand_drivers}
        = link_to 'demand drivers', demand_drivers_path
        %br
        #{@nb_combustions}
        = link_to 'combustion factors', combustions_path

.grid_5
  .box
    %h2 Database
    .block(id="action")
      = link_to "Check Energy System database", check_db_path, :class => "action check_db"
      %br
      = link_to "Empty database", reset_db_path, :confirm => 'Are you sure?', :class => "action reset_db"
      %br
      = link_to "Backup", backup_db_path, :class => "action backup_db"
      %br
      = form_tag(restore_db_path, :multipart => true) do
        = submit_tag "Restore", :disable_with => "Please wait...", :class => "button restore_db"
        = file_field 'upload', 'db', :class => "db_file", :size => nil

.grid_4
  .box
    %h2 Last Modifications
    .block
      %p
        = render :partial => "log", :collection => [], :as => :version
        %br
        = link_to "...", log_path
.clear