.grid_3
  .box
    %h2 Main Info
    .block
      %h5 Energy system database
      %p
        #{@nb_commodities}
        = link_to 'commodities', commodities_path
        %br
        #{@nb_technologies}
        = link_to 'technologies', technologies_path
        %br
        #{@nb_flows} flows
        %br
        #{@nb_parameter_values}  parameter values
        %br
        #{@nb_demand_drivers}
        = link_to 'demand drivers', demand_drivers_path
        %br
        #{@nb_combustions}
        = link_to 'combustion factors', combustions_path

.grid_5
  .box
    %h2 Database
    .block
      %h5 Maintenance
      %p= link_to "Check energy system integrity", check_db_path
      %h5 Backup
      %p= link_to "Download the complete database", backup_db_path
      %h5 Restore
      %p
        = form_tag(restore_db_path, :multipart => true) do
          %p
            = file_field 'upload', 'db', :class => "db_file", :size => nil
            = submit_tag "Restore", :disable_with => "Please wait..."
      %h5 Reset
      %p= link_to "Empty database", reset_db_path, :confirm => 'Are you sure? This will delete everything in the database'

.grid_4
  .box
    %h2 Last Modifications
    .block
      %p
        = render :partial => "log", :collection => @log, :as => :version
        %br
        = link_to "...", log_path
.clear