- title " - Dashboard"
.grid_3
  %div(class="box action")
    %h2 Actions
    %p
      = link_to "New Energy System...", new_energy_system_path, :class => "action new"
      - if @current_res
        %br
        %hr
        = link_to 'Delete', @current_res, :confirm => 'Are you sure?', :method => :delete, :class => "action delete"
    - if @current_res
      %p
        = link_to "Restore...", restore_energy_system_path(@current_res), :class => "action restore_db"
        = link_to "Backup", backup_energy_system_path(@current_res), :class => "action backup_db"
    - if @current_res
      %p
        = link_to "Check Energy System database", check_db_path, :class => "action check_db"

- if @current_res
  .grid_4
    .box
      %h2 General Parameters
      .block
        %p
          = "Name: #{@current_res.name}"
          %br
          = "Description: #{@current_res.description}"
        %p
          = "First Year: #{@current_res.first_year}"
          %br
          = "Number of periods: #{@current_res.nb_periods}"
          %br
          = "Period duration: #{pluralize(@current_res.period_duration,'year')}"

  .grid_5
    .box
      %h2 Content
      .block
        %ul
          %li= pluralize(@current_res.commodities.count,'commodity')
          %li= pluralize(@current_res.technologies.count,'technology')
          %li= pluralize(@current_res.demand_drivers.count,'demand driver')
          %li= pluralize(@current_res.commodity_sets.count,'commodity set')
          %li= pluralize(@current_res.technology_sets.count,'technology set')
          %li= pluralize(@current_res.scenarios.count,'scenario')
          %li= pluralize(@current_res.parameter_values.count,'parameter value')

.clear
