:javascript
  $(document).ready(function() {
  	$('.list_table').dataTable( {
  		"bProcessing"    : true,
  		"bServerSide"    : true,
  	    "bFilter"        : true,
        "bLengthChange"  : true,
        "bStateSave"     : true,
        "bSort"          : true,
        "bInfo"          : true,
        "aaSorting"      : [[1,'asc']],
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 25,
        "bAutoWidth"     : false,
  		"sAjaxSource"    : #{list_stored_queries_path.to_json},
  	    "fnServerData"   : function ( sSource, aoData, fnCallback ) {
            aoData.push( { "name": "set", "value": #{params[:set].to_json} } );
            $.getJSON( sSource, aoData, function (json) {
              fnCallback(json)
            } );
          },
        "aoColumnDefs"   : [ {"bSortable" : false,   "aTargets": [0,2] } ],
  	    "oLanguage"      : {"sSearch": "Filter:","sProcessing": #{image_tag("spinner.gif").to_json}},
  	    "sDom"           : 'lrft<"dataTable_delete">pi'
  	} );
    $("div.dataTable_delete").html(#{submit_tag('Delete',:class=>'button delete',:confirm => "Are you sure?" ).to_json});
  } );

.grid_2
  .box
    %h2 Action
    .block
      %p
        =link_to('New Stored Query...', new_stored_query_path, :class => 'action new')
      %p
        =link_to('Import...', import_stored_query_path, :class => 'action import')
        =link_to('Save...', save_stored_query_path, :class => 'action backup_db')

  .box
    %h2 Display type
    .block
      %ul.menu
        - StoredQuery::DISPLAY.each do |display|
          - c = "active" if display==params[:set]
          %li= link_to display.humanize.pluralize, {:controller => "stored_queries", :set => display}, :class => c
        %li=  link_to "All", stored_queries_url, :class => (params[:set]?nil:"active")

.grid_10
  .box
    %h2 Browse stored queries
    %p
      = form_tag(destroy_all_stored_queries_path,:method => "delete") do
        %table(class="list_table" summary="Stored query list")
          %thead
            %th(class='check')
              = check_box_tag("click_check",nil,nil,:class=>"check_all")
            %th Name
            %th Display Type
          %tbody
            %tr
              %td(colspan="3" class="list_table_empty")
                Loading data
      %br
      %br
.clear