:javascript
  $(document).ready(function() {
    $('#select_table').click(function(){
      var r = document.createRange();
      var w = document.getElementById("table_query");
      r.selectNodeContents(w);
      var sel=window.getSelection();
      sel.removeAllRanges();
      sel.addRange(r);
      })
  });

.grid_12
  .box
    %h2 Query Definition
    .block#request
      %p
        = form_tag query_path, :method => :post do
          Result set:
          =select_tag "result_set_ids", options_from_collection_for_select(ResultSet.order(:name), "id", "name",params[:result_set_ids] )
          Stored queries:
          %select(name="stored_query_id")
            - StoredQuery::DISPLAY.each do |display|
              %optgroup(label="#{display.humanize.pluralize}")
                - StoredQuery.where("display LIKE ?",display).order(:name).each do |q|
                  %option{:value=>q.id,:selected=>(params[:stored_query_id]==q.id.to_s)}= q.name
          = submit_tag 'Load query', :disable_with => 'Execute...'
          %input(type="hidden" name="do" value="load_stored_query")
      %p= link_to 'Reset query', query_path
.clear

-if @query_has_results && params[:query][:display]=="pivot_table"
  .grid_12
    .box(id='box_result')
      %h2 Query result
      .block
        %input(type="button" id="select_table" value="Select table")
        %div(id="query_result")
          - header = true
          %table(id="table_query")
            - CSV.foreach(params[:query][:result_file]) do |row|
              - if header
                %thead
                  %tr
                    %th(colspan="#{row.size() - 1}" class="table-head")
                      - if params[:query][:name] && params[:query][:name].empty?
                        Custom stored query
                      - else
                        = params[:query][:name]
                  - row = row.collect{|x|x.split("_")}
                  - iter = row.collect{|x|x.size}.max - 1
                  - 0.upto(iter).each do |i|
                    %tr
                      - row[1...row.size].each do |x|
                        %td= x[i]
                <tbody>
                - header = false
              - else
                - if row[1...row.size].map(&:to_f).sum > 0
                  %tr
                    %td(style="white-space: nowrap;")= row[1]
                    - row[2...row.size].each do |x|
                      %td= x
            </tbody>
        %br
-if @query_has_results && ["line_graph","area_graph"].include?(params[:query][:display])
  .grid_12
    .box(id='box_result')
      %h2 Query result
      .block
        %p(align="center")
          =image_tag(query_plot_path)
.clear