<% content_for :title, "Edit #{resource_name.to_s.humanize}" %>

<div class="grid_4">
  <div class="box">
    <h2>Actions</h2>
    <div class="block">
      <p>
        <%= render :partial => "devise/shared/links" %>
      </p>
    </div>
  </div>
  <div class="box">
    <h2>Cancel my account</h2>
    <div class="block">
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
    </div></div>
</div>

<div class="grid_4">
  <div class="box">
    <h2>Information</h2>
    <div class="block">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <%= render :partial => 'user_info' %>

          <p><%= f.submit "Update" %></p>
        </fieldset>
      <% end %>
    </div>
  </div>

</div>

<div class="clear"></div>