:javascript
  function draw_editable() {
    $('.edit').editable(#{raw update_value_combustions_path.to_json},{
        style   : 'inherit',
        width   : "100%",
        height  : 18,
        method  : "PUT",
        id      : 'field',
        submitdata: {
          authenticity_token: #{raw form_authenticity_token.to_json}
        }
    });
  }
  $(document).ready(function() {
  	$('.list_table').dataTable( {
  		"bProcessing"    : true,
  		"bServerSide"    : true,
  	    "bFilter"        : true,
        "bLengthChange"  : true,
        "bStateSave"     : true,
        "bSort"          : true,
        "bInfo"          : true,
        "aaSorting"      : [[1,'asc']],
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 25,
        "bAutoWidth"     : false,
  		"sAjaxSource"    : #{list_combustions_path.to_json},
  	    "fnServerData"   : function ( sSource, aoData, fnCallback ) {
            aoData.push( { "name": "set", "value": #{params[:set].to_json} } );
            $.getJSON( sSource, aoData, function (json) {
              fnCallback(json)
            } );
          },
        "fnDrawCallback": function() { draw_editable(); },
        "aoColumnDefs"   : [ {"bSortable" : false, "aTargets": [0,-1] }],
  	    "oLanguage"      : {"sSearch": "Filter:","sProcessing": #{image_tag("spinner.gif").to_json}},
  	    "sDom"           : 'lrftpi'
  	} );
    $( ".suggest_pollutant" ).autocomplete({
       source: #{suggest_pollutant_commodities_path.to_json},
       minLength: 2
     });
    $( ".suggest_fuel" ).autocomplete({
      source: #{suggest_fuel_commodities_path.to_json},
      minLength: 2
    });
  } );

.grid_2
  .box
    %h2 Action
    .block
      %p
        =link_to('Import...', import_combustions_path, :class => 'action import')
        =link_to('Download all...', download_combustions_path, :class => 'action backup_db')


.grid_10
  .box
    %h2 Combustion coefficients
    %p
      = form_tag(combustions_path,:method => "post",:id=>"form_") do
        %input(type="hidden" id="do" name="do" value="")
        %table(class="list_table" summary="Commodity list")
          %thead
            %th(class='check')
              = check_box_tag("click_check",nil,nil,:class=>"check_all")
            %th(class='name') Fuel
            %th(class='name') Pollutant
            %th(class='value') Value
            %th Source
            %th(class="check")
          %tbody
            %tr
              %td(colspan="6" class="list_table_empty")
                Loading data
          %tfoot
            %tr
              %th(class="check")
                = link_to "Delete", "#", :class => "action delete_pv", :confirm => "Are you sure?"
              %th(class='inputs')
                %input(type="textcell" class="suggest_fuel" id="new_fuel" name="pv[fuel]")
              %th(class='inputs')
                %input(type="textcell" class="suggest_pollutant" id="new_pollutant" name="pv[pollutant]")
              %th
                %input(type="textcell" id="combustion_value" name="combustion[value]")
              %th
                %input(type="textcell" id="combustion_source" name="combustion[source]")
              %th(class="check")
                = link_to_function "Add", "add_combustion()", :class => "action add_pv"

    %br
    %br
