:javascript
  $(document).ready(function() {

    $('.edit').editable(#{raw request_path.to_json},{
        style   : 'inherit',
        width   : "none",
        height  : 20,
        method  : "PUT",
        id      : 'field',
        indicator : #{raw image_tag("spinner.gif").to_json},
        submitdata: {
          authenticity_token: #{raw form_authenticity_token.to_json}
        }
      });

    $('#driver_table').dataTable({
        "bPaginate": true,
        "bLengthChange": #{length_change},
        "bFilter": #{filter},
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "sDom": 'lfrtip<"dataTables_action">'
      });
      $("div.dataTables_action").html('<p><select name="do" >' +
          '<option value="add_pv">Add value</option>'+
          '<option value="delete_pv">Delete value(s)</option>'+
          '</select>'+ #{raw submit_tag('OK').to_json} + '</p>');
  });

= form_tag(request_path,:method => "put") do
  %table.dataTable#driver_table
    %thead
      %tr
        - cols.each do |c|
          %th= c.humanize
        %th
    %tbody
      - driver.parameter_values.each do |pv|
        %tr
          - cols.each do |c|
            %td
              %span(id="pv-#{pv.id}-#{c}" class="#{"edit" if editable.include? c}")= pv.attributes[c]
          %td.check
            %input(type="checkbox" name="cb#{pv.id}")
    %tfoot
      %tr
        - cols.each do |c|
          - if c=="year"
            %td
              %input(type="textcell" id="#{c}" name="pv[#{c}]" size="5")
          - elsif c=="value"
            %td
              %input(type="textcell" id="#{c}" name="pv[#{c}]" size="10")
          - else
            %td
              %input(type="textcell" id="#{c}" name="pv[#{c}]")
.clear