:javascript
  $(document).ready(function() {
      $('.edit').editable(#{raw update_value_parameter_values_path.to_json},{
        style   : 'inherit',
        width   : "100%",
        height  : 18,
        method  : "PUT",
        id      : 'field',
        submitdata: {
          authenticity_token: #{raw form_authenticity_token.to_json}
        }
      });
      $('#parameter_table_#{pid}').dataTable({
        "bPaginate": true,
        "bLengthChange": true,
        "bFilter": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 10,
        "bSort": true,
        "aaSorting"      : [[1,'asc']],
        "aoColumnDefs"   : [ {"bSortable" : false,   "aTargets": [0,-1] } ],
        "bInfo": true,
        "bAutoWidth": false,
        "bStateSave": true,
        "sDom": 'lfrtpi'
      });
  } );

- if rules
  %script(type="text/javascript" charset="utf-8")
    //<![CDATA[
    $(document).ready(function() {
    - columns = cols - %W(parameter)
    $("##{pid}_parameter").change(function () {
    - columns.each do |c|
      $("##{pid}_#{c}").removeAttr("disabled");
      - rules.each do |key,value|
        - if key[0,1]==">"
          if ($("##{pid}_parameter option:selected").text().substring(0,#{key.size-1})=="#{key[1..-1]}")
        - elsif key[0,1]=="="
          if ($("##{pid}_parameter option:selected").text()=="#{key[1..-1]}")
        {
        - value.each do |cvalue|
          $("##{pid}_#{cvalue}").attr("disabled", true);
        }
    }).change();
    });
    //]]>

= form_tag(request_path,:method => "put",:id=>"form_#{pid}") do
  %table.dataTable(id="parameter_table_#{pid}")
    %thead
      %tr
        %th(class='check')
          = check_box_tag("click_check",nil,nil,:class=>"check_all")
        - cols.each do |c|
          %th= c.humanize
        %th(class='add')
    %tbody
      - object.values_for(parameters).each do |v|
        %tr
          %td(class="check")
            %input(type="checkbox" name="cb#{v.id}")
          - cols.each do |c|
            - case c
            - when "parameter"
              %td= v.parameter
            - when "commodity"
              %td= v.commodity
            - when "in_flow"
              %td= short_flow(v.in_flow)
            - when "out_flow"
              %td= short_flow(v.out_flow)
            - when "flow"
              %td= short_flow(v.flow)
            - when "fuel"
              %td= v.fuel
            - when "pollutant"
              %td= v.pollutant
            - when "technology_subset"
              %td= v.technology_subset.name
            - else
              %td
                %span(id="#{v.id}-#{c}" class="#{"edit" if editable.include? c}")>= v.attributes[c].to_s
          %td
    %tfoot
      %tr
        %th(class="check")
          = link_to "Delete", '#', :class => "action delete_pv", :confirm => "Are you sure?"
        - cols.each do |c|
          - if c=="parameter"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                - parameters.each do |p|
                  %option= p
          - elsif c=="in_flow"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                - object.in_flows.each do |f|
                  %option(value="#{f.id}")
                    = short_flow(f)
          - elsif c=="out_flow"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                - object.out_flows.each do |f|
                  %option(value="#{f.id}")
                    = short_flow(f)
          - elsif c=="flow"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                %optgroup(label="In flow")
                  - object.in_flows.each do |f|
                    %option(value="#{f.id}")
                      = short_flow(f)
                %optgroup(label="Out flow")
                  - object.out_flows.each do |f|
                    %option(value="#{f.id}")
                      = short_flow(f)
          - elsif c=="fuel"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                = options_for_select(Commodity.energy_carriers.order(:name).collect {|c| [ c.name, c.id ] })
          - elsif c=="technology_set" || c=="technology_subset"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                = options_for_select(TechnologySet.order(:name).collect {|c| [ c.name, c.id ] })
          - elsif c=="pollutant"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                = options_for_select(Commodity.pollutants.order(:name).collect {|c| [ c.name, c.id ] })
          - elsif c=="commodity"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                = options_for_select(object.commodities.map(&:name))
          - elsif c=="time_slice"
            %th
              %select(id="#{pid}_#{c}" name="pv[#{c}]" class="tiny")
                = options_for_select(%w{AN SD SN ID IN WN WD})
          - elsif c=="year"
            %th
              %input(class="textcell" id="#{pid}_#{c}" name="pv[#{c}]" size="5")
          - elsif c=="value"
            %th
              %input(class="textcell" id="#{pid}_#{c}" name="pv[#{c}]" size="10")
          - else
            %th
              %input(class="textcell" id="#{pid}_#{c}" name="pv[#{c}]")
        %th
          = link_to "Add", '#', :class => "action add_pv"
  - if parameters.size==1
    %input(type="hidden" id="#{pid}_parameter" name="pv[parameter]" value="#{parameters.first}")
  %input(type="hidden" id="do" name="do" value="")
  %input(type="hidden" name="pv[scenario_id]" value="#{params[:scenario_id] || @current_res.base_scenario.id}")
.clear