:javascript
  $(document).ready(function() {

      $('.edit').editable(#{raw parameter_values_path.to_json},{
          style   : 'inherit',
          width   : "none",
          height  : 20,
          method  : "PUT",
          id      : 'field',
          submitdata: {
            authenticity_token: #{raw form_authenticity_token.to_json}
          }
        });

        $('#parameter_table_#{pid}').dataTable({
        "bPaginate": true,
        "bLengthChange": #{lenght_change},
        "bFilter": #{filter},
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "sDom": 'lfrtip<"dataTables_action">'
        });
        
        $("div.dataTables_action").html('<p><select name="do" >' +
            '<option value="add_pv">Add value</option>'+
            '<option value="delete_pv">Delete value(s)</option>'+
            '</select>'+#{raw submit_tag('OK').to_json}+ '</p>');
  } );

- if rules
  %script{:type => "text/javascript", :charset => "utf-8"}
    //<![CDATA[
    $(document).ready(function() {
    - columns = cols - ["parameter"]
    $("##{pid}_parameter").change(function () {
    - columns.each do |c|
      $("##{pid}_#{c}").removeAttr("disabled");
      - rules.each do |key,value|
        //#{key}
        - if key[0,1]==">"
          if ($("##{pid}_parameter option:selected").text().substring(0,#{key.size-1})=="#{key[1..-1]}")
        - elsif key[0,1]=="="
          if ($("##{pid}_parameter option:selected").text()=="#{key[1..-1]}")
        {
        - value.each do |c|
          $("##{pid}_#{c}").attr("disabled", true);
        }
    }).change();
    });
    //]]>

= form_tag(request_path,:method => "put") do
  %table.dataTable(id="parameter_table_#{pid}")
    %thead
      %tr
        - cols.each do |c|
          %th= c.humanize
        %th
    %tbody
      - object.parameter_values_for(parameters).each do |pv|
        %tr
          - cols.each do |c|
            - if c=="parameter"
              %td= pv.parameter
            - elsif c=="commodity"
              %td= pv.commodity
            - elsif c=="in_flow"
              %td= short_flow(pv.in_flow)
            - elsif c=="out_flow"
              %td= short_flow(pv.out_flow)
            - elsif c=="flow"
              %td= short_flow(pv.flow)
            - else
              %td
                %span(id="#{pv.id}-#{c}" class="#{"edit" if editable.include? c}")>= pv.attributes[c]
          %td.check
            %input(type="checkbox" name="cb#{pv.id}")
    %tfoot
      %tr
        - cols.each do |c|
          - if c=="parameter"
            %td
              %select(id="#{pid}_#{c}" name="pv[#{c}]")
                - parameters.each do |p|
                  %option= p
          - elsif c=="in_flow"
            %td
              %select(id="#{pid}_#{c}" name="pv[#{c}]")
                - object.in_flows.each do |f|
                  %option(value="#{f.id}")
                    = short_flow(f)
          - elsif c=="out_flow"
            %td
              %select(id="#{pid}_#{c}" name="pv[#{c}]")
                - object.out_flows.each do |f|
                  %option(value="#{f.id}")
                    = short_flow(f)
          - elsif c=="flow"
            %td
              %select(id="#{pid}_#{c}" name="pv[#{c}]")
                %optgroup(label="In flow")
                  - object.in_flows.each do |f|
                    %option(value="#{f.id}")
                      = short_flow(f)
                %optgroup(label="Out flow")
                  - object.out_flows.each do |f|
                    %option(value="#{f.id}")
                      = short_flow(f)
          - elsif c=="commodity"
            %td
              %select(id="#{pid}_#{c}" name="pv[#{c}]")
                = options_for_select(object.commodities.map(&:name))
          - elsif c=="time_slice"
            %td
              %select(id="#{pid}_#{c}" name="pv[#{c}]")
                = options_for_select(%w{AN SD SN ID IN WN WD})
          - elsif c=="year"
            %td
              %input(type="textcell" id="#{pid}_#{c}" name="pv[#{c}]" size="5")
          - elsif c=="value"
            %td
              %input(type="textcell" id="#{pid}_#{c}" name="pv[#{c}]" size="10")
          - else
            %td
              %input(type="textcell" id="#{pid}_#{c}" name="pv[#{c}]")
        %td
  - if parameters.size==1
    %input(type="hidden" id="#{pid}_parameter" name="pv[parameter]" value="#{parameters.first}")
.clear