<% content_for :title, "Home" %>
<div class="grid_4">
  <div class="box">
    <h2>Outline</h2>
    <div class="block">
    <ul>
      <li>Energy
        <ul>
          <li><%= link_to "Commodities (demands, energy sources, pollutants)", commodities_path %></li>
          <li><%= link_to "Technologies", technologies_path %></li>
          <li><%= link_to "Socio-Economic drivers", demand_drivers_path %></li>
        </ul></li>
      <li>Emission sources</li>
      <li>Air quality</li>
      <li><%= link_to "Outputs", outputs_path %>
        <ul>
          <li><%= link_to "predefined tables", tables_path %></li>
          <li><%= link_to "Solvers", solver_index_path %></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</div>
