.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New demand_driver
    .block
      = form_for(@demand_driver) do |f|
        = render "shared/error_messages", :target => @demand_driver
        %p
          = f.label :name
          = f.text_field :name
          = f.submit 'Create', :class => "confirm button"
.clear