<% content_for :title, "Forgot your password?" %>

<div class="grid_3">
  <div class="box">
    <h2>Actions</h2>
    <div class="block">
      <p>
        <%= render :partial => "shared/devise_links" %>
      </p>
    </div>
  </div>
</div>

<div class="grid_5">
  <div class="box"><h2>Information</h2>
    <div class="block">
      <% form_for resource_name, resource, :url => password_path(resource_name) do |f| %>
        <fieldset>
          <%= f.error_messages %>

          <p><%= f.label :email, 'Email:' %> <%= f.text_field :email %></p>

          <p><%= f.submit "Send me reset password instructions" %></p>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>