<h1>Editing table</h1>

<% form_for(@table) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :aggregate %><br />
    <%= f.select :aggregate, Table::AGGREGATES.collect{ |a| [a,a.downcase]  } %>
  </p>
  <p>
    <%= f.label :variable %><br />
    <%= f.select :variable, Table::VARIABLES.collect{ |a| [a,a] } %>
  </p>
  <p>
    <%= f.label :rows %><br />
    <%= f.hidden_field :rows %>
  </p>
  <p>
    <%= f.label :columns %><br />
    <%= f.hidden_field :columns %>
  </p>
  <p>
    <%= f.label :filters %><br />
    <%= f.hidden_field :filters %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @table %> |
<%= link_to 'Back', tables_path %>