<h1>Editing table</h1>

<% form_for(@table) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :aggregate %><br />
    <%= f.text_field :aggregate %>
  </p>
  <p>
    <%= f.label :variable %><br />
    <%= f.text_field :variable %>
  </p>
  <p>
    <%= f.label :rows %><br />
    <%= f.text_field :rows %>
  </p>
  <p>
    <%= f.label :columns %><br />
    <%= f.text_field :columns %>
  </p>
  <p>
    <%= f.label :filters %><br />
    <%= f.text_field :filters %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @table %> |
<%= link_to 'Back', tables_path %>