<% content_for :title, "New table" %>

<div class="grid_12">
  <% form_for(@table) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <p>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :aggregate, 'Aggregate:' %>
    <%= f.text_field :aggregate %>
  </p>
  <p>
    <%= f.label :variable, 'Variable:' %>
    <%= f.text_field :variable %>
  </p>
  <p>
    <%= f.label :rows, 'Rows:' %>
    <%= f.text_field :rows %>
  </p>
  <p>
    <%= f.label :columns, 'Columns:' %>
    <%= f.text_field :columns %>
  </p>
  <p>
    <%= f.label :filters, 'Filters:' %>
    <%= f.text_field :filters %>
  </p>
  <%= f.submit 'Create', :class => "confirm button" %>
  </fieldset>
  <% end %>
</div>