<p>
  <b>Name:</b>
  <%=h @table.name %>
</p>

<p>
  <b>Aggregate:</b>
  <%=h @table.aggregate %>
</p>

<p>
  <b>Variable:</b>
  <%=h @table.variable %>
</p>

<p>
  <b>Rows:</b>
  <%=h @table.rows %>
</p>

<p>
  <b>Columns:</b>
  <%=h @table.columns %>
</p>

<p>
  <b>Filters:</b>
  <%=h @table.filters %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>