:javascript
  $(document).ready(function() {
    $('#filter_commodity').keyup(function () {
      fill_avail_commodities('#{commodities_path}',$('#filter_commodity').val());
    });
    fill_avail_commodities('#{commodities_path}',$('#filter_commodity').val());
    fill_commodity_set('#{commodity_set_path(@commodity_set)}');
    $('#apply').click(function() {
        var com = $('#commodity_list option');
        var s = "";
        for(var i = 0; i < com.length; i++) {
            s += com[i].text + ",";
        }
        $.ajax({
            url:#{commodity_set_path(@commodity_set).to_json},
            type:'PUT',
            data:{
                'commodities':s.substring(0,s.length-1),
                'do':'update_commodities'
            },
            async:false
        });
        location.reload();
    });
  });

.grid_3
  .box(class="action")
    %h2 Actions
    %br
    %p
      = link_to 'Browse all', commodity_sets_path, :class => "action browse"
      = link_to 'New CommoditySet', new_commodity_set_path, :class => "action new"
    %p
      = link_to 'Delete', @commodity_set, :confirm => 'Are you sure?', :method => :delete, :class => "action delete"

  .box
    %h2 CommoditySet
    .block(id="idcard")
      = render :partial => 'shared/id_card', :locals => {:object => @commodity_set , :categories => nil}

.grid_9
  .box
    %h2 Commodities
    .block
    %p
      %table
        %thead
          %tr
            %th
              Available commodities
              %input(id="filter_commodity")
            %th#nb_commodity Commodity selected
        %tbody
          %tr
            %td.col50
              %select(multiple="multiple" size="10" id="avail_commodity" class="flow_list")
              %p(style="text-align: center")
                %a(href="#" id="add_commodity")
                  & add >>
            %td.col50
              %select(multiple="multiple" size="10" id="commodity_list" class="flow_list")
              %p(style="text-align: center")
                %a(href="#" id="remove_commodity")
                  & << remove
      = link_to 'Apply', '', :id => "apply", :class => "action"
      = link_to 'Reset Changes', commodity_set_path(@commodity_set), :class => "action"

  .box
    %h2 Parameters
    .block
      :erb
        <%= render :partial => 'shared/parameter_table',
                  :locals => { :object => @commodity_set,
                               :pid => "param",
                               :length_change => "false",
                               :filter => "false",
                               :request_path => commodity_set_path(@commodity_set),
                               :parameters => %w{agg_coef commodity_set_annual_up degree_of_use},
                               :cols => %w{parameter commodity year value source},
                               :editable => %w{value source},
                               :rules => {"=agg_coef" => %w{year}, "=commodity_set_annual_up" => %w{commodity} } }%>
.clear