- content_for :title, "Sign in"
.grid_3
  = render :partial => "devise/shared/links"
.grid_9
  .box
    %h2 Sign In
    .block
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.input :remember_me, :as => :boolean
        = f.button :submit, :value => "Sign In", :class => "aligned"
.clear