<script type="text/javascript">
    $(function() {
        $('#tabs').tabs({ cookie: { expires: 7 }});
    });
</script>

<div id="tabs">

    <ul>
        <% @solvers.each_with_index do |solver,i| %>
          <% unless solver.new?  %><li><a href="#tabs-<%= solver.id %>">Job <%= solver.id %> </a></li><% end  %>
        <% end %>
        <li><a href="#tabs-0">New...</a></li>
    </ul>

    <% @solvers.each_with_index do |solver,i| %>
      <div id="tabs-<%= solver.id %>">
    <p>
      Status: <%=h solver.current_state.name %><br />

      Actions: <%= link_to_if(solver.solving?, "refresh", solver_index_path) %>,

      <%= link_to_if(solver.solved?, "import results into the simulation", solver_index_path, :method=>:put) %>,

      <%= link_to_unless(solver.new?, "reinit solver", solver, :method=>:delete, :confirm => "Are you sure?") %>.
      
    </p>

    <div id="log_<%= solver.id %>" >
      <h2>Log</h2>
      <div id="display_log_<%= solver.id %>"><pre><%= solver.log %></pre></div>
    </div>

      </div>
    <% end %>

    <div id="tabs-0">
      <% form_tag solver_index_path do %>
        <%=  error_messages_for 'new_solver', :header_message => 'Errors prohibited this solver to start', :message => nil  %>
        <p><%= submit_tag 'Run Solver', :disable_with => 'Generating problem...' %></p>
      <% end %>
    </div>

</div>
