<% content_for :title, "ETEM Solver" %>

<% if @refresh %>
  <script type="text/javascript">
    setTimeout(function(){location.reload();}, 10000);
  </script>
<% end %>

<script type="text/javascript">
  function import_res(id) {
    var sim_id = $('#sim_' +id+ ' option:selected')[0].value
    if(sim_id=="0"){
      location.href=<%= raw new_output_path.to_json %>;
      return false;
    }
    $.blockUI({ message: '<b>Please wait...</b>',
      css: { border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        '-webkit-border-radius': '10px',
        '-moz-border-radius': '10px',
        opacity: .5,
        color: '#fff'
      }});
    location.href = '/outputs/' + sim_id + '/import?solver_id=' + id;
  }
</script>

<div class="grid_12">
  <% @solvers.each_with_index do |solver,i| %>
    <div class="box">
      <div class="block">
        <p>
          Status: <%= solver.current_state.name %>
          <%=h "but can't find temporary files, probably because they have been deleted."  if (solver.solved? && !solver.has_files?) %>
          <%=h "(#{solver.time_used} sec)" if (solver.solved? && solver.has_files?) %><br />

          Actions: <%= link_to_if(solver.solving?, "manual refresh", solver_index_path) %>,

          <% if solver.solved? && solver.has_files? %>

            <%= link_to_function("import outputs into results","import_res(#{solver.id})") %>

            <%= select_tag "sim_#{solver.id}", options_for_select(@outputs.map {|o| [o.name,o.id]}+[['New...',0]]) %>,

          <% else %>
            import results into simulation,
          <% end %>

          <%= link_to("relaunch the solver", solver, :method=>:delete, :confirm => "Are you sure? The current instance will be destroyed.") %>.

        </p>

        <div id="log_<%= solver.id %>" >
          <h5>Log</h5>
          <div id="display_log_<%= solver.id %>"><pre><%= solver.log %></pre></div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @solvers.size==0 %>
  <div class="box">
    <div class="block">
      <%= form_tag solver_index_path do %>
        <p><%= submit_tag 'Launch Solver', :disable_with => 'Generating problem...' %></p>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
