- unless @state=="solved"
  :javascript
    setTimeout(function(){location.reload();}, 15000);
:javascript
  $(document).ready(function() {
    $( ".suggest_result_set" ).autocomplete({
      source: #{suggest_result_sets_path.to_json},
      minLength: 0
    });
   });
.grid_2
  .box
    %h2 Action
    .block
      %p
        = link_to 'Browse...', solver_jobs_path, :class => "action browse"
  .box
    %h2 parameters
    %block
      %p
        %br
        Language: #{@solver_job.language}
        %br
        Scenario(s): #{@solver_job.scenarios}

.grid_10
  .box
    %h2
      Status:
      = @state
      - if @state=="solving" || @state.start_with?("generating")
        =  image_tag("solving.gif",:align=>:absmiddle,:height=>"9px")
    .block
      - if @state=="solved"
        %p Total time resolution: (#{@solver_job.etem_solver.time_used} sec)
        %p
          = form_tag import_result_sets_path do
            Store results into an existing or a new resultset :
            = text_field_tag 'result_set_name', nil, :placeholder => 'resultset name', class: "suggest_result_set"
            = hidden_field_tag 'solver_job_id', @solver_job.id
            = submit_tag 'Store'
      #log
        %h5 Log
        #display_log
          %pre= raw sanitize @solver_job.etem_solver.read(:log)
