.grid_2
  .box
    %h2 Action
    .block
      %p
        = link_to 'Browse all', scenarios_path, :class => "action browse"
.grid_10
  .box
    %h2 New Scenario
    .block
      = simple_form_for @scenario do |f|
        = f.input :name
        = f.button :submit, :class => "aligned"
        = f.hidden_field :energy_system_id, value: @current_res.id
.clear
