:javascript
  $(document).ready(function() {
    xticks = #{2005.step(2030,5).to_json};
    $.jqplot('chartdiv', #{[@commodity.demand_values(2005)].to_json},
      {axes:{xaxis:{ticks:xticks,tickOptions:{formatString:'%d'}}}});
    });
.grid_9
  .box
    %h2 Demand definition
    .block
      :erb
        <%= render :partial => 'shared/parameter_table', 
                  :locals => { :object => @commodity, 
                               :pid => "param", 
                               :length_change => "false",
                               :filter => "false", 
                               :request_path => commodity_path(@commodity), 
                               :parameters => %w{demand frac_dem}, 
                               :cols => %w{parameter time_slice year value source}, 
                               :editable => %w{value source}, 
                               :rules => {"=demand" => %w{time_slice}, "=frac_dem" => %w{year} } }%>
    .block
      .block#demand_projection
        = form_for(@commodity) do |f|
          = f.label :demand_driver_id, 'Follow demand driver:'
          = f.collection_select(:demand_driver_id, DemandDriver.all, :id, :name, {:include_blank=>true})
          = f.label :demand_elasticity, 'Demand elasticity:', :disabled => (@commodity.demand_driver_id ? nil: "disabled") 
          = f.text_field :demand_elasticity, 
                         :size=>nil, 
                         :class=>'demand_elasticity',
                         :disabled => (@commodity.demand_driver_id ? nil: "disabled")
          %input(type="hidden" name="do" value="update")
          = f.submit 'Update', :class => "button"
      .block#demand_graph
        #chartdiv{:style=>"height:200px;"}
.clear