%script{:type => "text/javascript",
        :src  => "/javascripts/aggregate_edit.js"}
.grid_9
  .box
    %h2 Components
    .block
      %p
        = form_for @commodity, :html => {:id => 'form_component' } do |f|
          = render "shared/error_messages", :target => @commodity
          %table(id="table_component")
            %thead
              %tr
                %th Available commodities
                %th Components
            %tbody
              %tr
                %td.col50
                  %select(multiple size="10" id="sel_avail_commodity")
                    %optgroup(label="Energy Carriers")
                      - Commodity.energy_carriers.order(:name).each do |c|
                        %option(value="#{c.id}")
                          = c.name
                    %optgroup(label="Pollutants")
                      - Commodity.pollutants.order(:name).each do |c|
                        %option(value="#{c.id}")
                          = c.name
                    %optgroup(label="Useful demands")
                      - Commodity.demands.order(:name).each do |c|
                        %option(value="#{c.id}")
                          = c.name
                  %p(style="text-align: center")
                    %a(href="#" id="add_commodity")
                      & add >>
                %td.col50
                  = f.select :component_ids, options_from_collection_for_select(@commodity.components, "id", "name"), {},
                     {:id => "components", :multiple => true, :size => 10}
                  %p(style="text-align: center")
                    %a(href="#" id="remove_commodity")
                      & << remove
          %p
          %input(type="hidden" name="do" value="update")
          = button_to_function 'Save changes', "post_form()"