<% form_tag(commodity_path(@commodity),:method => "put") do %>

	<table class="tableparameter">
		
		<thead><tr>
			<% cols.each do |c| %><th><%= c.humanize %></th><% end %><th></th>
		</tr></thead>

		<tbody>             
		
		<% @commodity.parameter_values_for(parameters).each do |pv| %>
		<tr>
			<% cols.each do |c| %>
				<td><span id="<%= c %>_<%= pv.id %>" <%= 'class="edit"' if editable.include? c %> ><%=h pv.attributes[c] %></span></td>
			<% end %>
		<td><input type="checkbox" name="cb<%= pv.id  %>" /></td>
		</tr>
		<% end %>
		
		<tr>
			<% cols.each do |c| %>
				<td><input type="textcell" name="<%= c %>"/></td>
			<% end %>
		<td></td>
		</tr>
		
		</tbody>

	</table>
	
	<select name="do">
	    <option value="add_pv">Add parameter value</option>
	    <option value="delete_pv">Delete checked parameter value(s)</option>
	</select>
	<% if parameters.size==1 %>
		<input type="hidden" name="parameter" value="<%= parameters[0] %>" />
	<% end %>
	<%= submit_tag 'OK' %>
<% end %>
