<% content_for :title, "Editing commodity" %>

<div class="grid_3">

  <div class="box">
    <h2>ID card</h2>
    <div class="block">
      <%= form_for(@commodity) do |f| %>
        <%= render "shared/error_messages", :target => @commodity %> 
        <fieldset class="idcard" >
          <p><%= f.label :name, 'Name:' %><br />
            <%= f.text_field :name, :size=>nil %></p>
          <p><%= f.label :description, 'Description:' %><br />
            <%= f.text_area :description, :rows => 2, :cols=>nil %></p>
          <p><%= f.label :sets, 'Sets:' %> <%=h @commodity.set_list.join(", ") %></p>
          <input type="hidden" name="do" value="update" />
          <p><%= f.submit 'Update', :class => "button" %></p>
        </fieldset>
      <% end %>
      <p>Actions:
        <%= link_to 'New', new_commodity_path %>,
        <%= link_to 'Clone', clone_commodity_path, :confirm => 'Are you sure?', :method => :post %>,
        <%= link_to 'Destroy', @commodity, :confirm => 'Are you sure?', :method => :delete %>
      </p>
    </div>
  </div>

  <div class="box">
    <h2>Flows</h2>
    <div class="block">
      <p>
        <% if @commodity.consumed_by.size > 0 %>
          Consumed by <%= pluralize(@commodity.consumed_by.size, 'technology') %>:
          <%= collection_select(:consumed_by, :technology, @commodity.consumed_by, :id, :name, {:prompt => true},
            {:onchange => "if(this.value.length>0){location.href='/technologies/'+this.value+'/edit';}"}) %>
        <% else %>
          Not consumed.
        <% end %><br />
        <% if @commodity.produced_by.size > 0 %>
          Produced by <%= pluralize(@commodity.produced_by.size, 'technology') %>:
          <%= collection_select(:produced_by, :technology, @commodity.produced_by, :id, :name, {:prompt => true},
            {:onchange => "if(this.value.length>0){location.href='/technologies/'+this.value+'/edit';}"}) %>
        <% else %>
          Not produced.
        <% end %>
      </p>
    </div>
  </div>

</div>

<% if @commodity.demand? %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      xticks = <%=  (0...10).collect{|x| 5*x+2005}.to_json %>;
      $.jqplot('chartdiv',
  <%= [@commodity.demand_values].to_json %>,
      {axes:{xaxis:{ticks:xticks,tickOptions:{formatString:'%d'}}}});
    } );
  </script>
  <div class="grid_9">
    <div class="box">
      <h2>Demand definition</h2>
      <div class="block">
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @commodity,
          :pid => "param",
          :lenght_change => "false",
          :filter => "false",
          :request_path => commodity_path(@commodity),
          :parameters => %w{demand frac_dem},
          :cols => %w{parameter time_slice year value source},
          :editable => %w{value source},
          :rules => {"=demand" => %w{time_slice},
            "=frac_dem" => %w{year} } } %>

      </div>
    </div>
    <div class="box">
      <h2>Demand Projection</h2>
      <div class="block" >
        <div class="block" id="demand_projection">
          <%= form_for(@commodity) do |f| %>
            <%= render "shared/error_messages", :target => @commodity %> 
            <fieldset class="demand_projection" >
              <p><%= f.label :demand_driver_id, 'Follow demand driver:' %>
                <%=  f.collection_select(:demand_driver_id, DemandDriver.all, :id, :name, {:include_blank=>true}) %>
                <%= f.label :demand_elasticity, 'Demand elasticity:', :disabled => (@commodity.demand_driver_id ? nil: "disabled") %>
                <%= f.text_field :demand_elasticity, :size=>nil, :class=>'demand_elasticity', :disabled => (@commodity.demand_driver_id ? nil: "disabled") %>
                <input type="hidden" name="do" value="update" />
                <%= f.submit 'Update', :class => "button" %></p>
            </fieldset>
          <% end %>
        </div>

        <div class="block" id="demand_graph">
          <div id="chartdiv" style="height:200px;"></div>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="grid_9">
    <div class="box">
      <h2>Parameters</h2>
      <div class="block">
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @commodity,
          :pid => "param",
          :lenght_change => "true",
          :filter => "true",
          :request_path => commodity_path(@commodity),
          :parameters => %w{network_efficiency peak_reserve} +
            %w{cost_imp cost_exp imp_bnd_lo imp_bnd_fx imp_bnd_up} +
            %w{exp_bnd_lo exp_bnd_fx exp_bnd_up } +
            %w{com_net_bnd_up_t com_net_bnd_up_ts},
          :cols => %w{parameter time_slice year value source},
          :editable => %w{value source},
          :rules => {"=network_efficiency" => %w{time_slice year},
            "=com_net_bnd_up_t"  => %w{time_slice}} } %>
      </div>
    </div>
  </div>

<% end %>

<div class="clear"></div>