<h1>Editing commodity</h1>

<script type="text/javascript">
$(document).ready(function() {
    $('.edit').editable(<%= commodity_path(@commodity).to_json %>,{
        style   : 'inherit',
        width   : 150,
        height  : 18,
        method  : "PUT",
        id      : 'field',
        indicator : <%= image_tag("spinner.gif").to_json %>,
        submitdata: {
          authenticity_token: <%= form_authenticity_token.to_json %>
        }
    });
});
</script>

<table class="idcard">
  <tr>
    <td class="idcard_leftcol"><ul>
        <li>Name: <span class="edit" id="name"><%=h @commodity.name %></span></li>
        <li>Definition: <span class="edit" id="description"><%=h @commodity.description %></span></li>
    </ul></td>
    <td><ul>
      <li>Sets: <%=h @commodity.set_list.join(", ") %>
      </li>
    </ul></td>
</tr>
<tr><td colspan="2">
    <ul>
        <li>Consumed by: <%= technology_url_list @commodity.consumed_by  %></li>
        <li>Produced by: <%= technology_url_list @commodity.produced_by  %></li>
    </ul>
</td></tr>
</table>

<script type="text/javascript">
    $(function() {
        $('#tabs').tabs({ cookie: { expires: 7 }});
    });
</script>

<% if @commodity.demand? %>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Parameters</a></li>
    </ul>
    <div id="tabs-1">
        <div id="general">
            <h3>Demand values</h3>
            <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "dem",
					               :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{demand},
								   :cols => %w{year value source},
								   :editable => %w{value source},
                                   :rules => nil} %>
        </div>
        <div id="fraction_demand">
            <h3>Fraction of demand per time-slice</h3>
			<%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "frd",
			                       :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{frac_dem},
								   :cols => %w{time_slice value source},
								   :editable => %w{value source},
                                   :rules => nil} %>
        </div>
    </div>
</div>

<% else %>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Parameters</a></li>
        <li><a href="#tabs-2">Constraints</a></li>
    </ul>
    <div id="tabs-1">
        <div id="general">
            <h3>General parameters</h3>
            <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "gen",
					               :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{network_efficiency peak_reserve},
								   :cols => %w{parameter time_slice year value source},
								   :editable => %w{value source},
                                   :rules => {"=network_efficiency" => %w{time_slice year} } } %>
        </div>
        <div id="import_export">
            <h3>Import/export parameters</h3>
            <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "iep",
			                       :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{cost_imp cost_exp imp_bnd_lo imp_bnd_fx imp_bnd_up exp_bnd_lo exp_bnd_fx exp_bnd_up},
								   :cols => %w{parameter time_slice year value source},
								   :editable => %w{value source},
                                   :rules => nil} %>
        </div>
    </div>

    <div id="tabs-2">
        <div id="constraints">
            <h3>Constraints</h3>
            <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "con",
					               :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{com_net_bnd_up_t com_net_bnd_up_ts},
								   :cols => %w{parameter time_slice year value source},
								   :editable => %w{value source},
                                   :rules => {"=com_net_bnd_up_t"  => %w{time_slice} } } %>
        </div>
    </div>
</div>

<% end %>