:javascript
  function add_parameter_value(pid) {
    $('#form_' + pid + ' #do').attr('value','add_pv');
    $('#form_' + pid).submit();
  }
  function delete_parameter_values(pid) {
    if (confirm("Are you sure?")) {
      $('#form_' + pid + ' #do').attr('value','delete_pv');
      $('#form_' + pid).submit();
    };
  }
  $(document).ready(function() {
    $('.check_all').click(function () {
      $(this).parents('table:eq(0)').find(':checkbox').attr('checked', this.checked);
    });
  } );

.grid_3

  .box(class="action")
    %h2 Actions
    %br
    %p= link_to 'Browse all', commodities_path, :class => "action browse"
    %p
      = link_to 'New commodity', new_commodity_path, :class => "action new"
      = link_to 'Duplicate', duplicate_commodity_path, :confirm => 'Are you sure?', :method => :post, :class => "action duplicate"
      = link_to 'Delete', @commodity, :confirm => 'Are you sure?', :method => :delete, :class => "action delete"

  .box
    %h2 Commodity
    .block(id="idcard")
      = simple_form_for @commodity do |f|
        =f.input :name, :input_html => { :size => nil }
        =f.input :description, :as => :text, :input_html => { :rows => 2, :cols=>nil }
        =f.input :set_list, :collection => Commodity::CATEGORIES, :selected => @commodity.matching_set_list, :label => "Type"
        =f.button :submit
        %input(type="hidden" name="do" value="update")

  - if @commodity.activated?
    .box
      %h2 Flows
      .block
        - if @commodity.consumed_by.size > 0
          %p
            Consumed by #{pluralize(@commodity.consumed_by.size, 'technology')}:
            = render :partial => "select_commodities", :locals => {:method => :consumed_by, :list => @commodity.consumed_by}
        - else
          %p Not consumed.
        - if @commodity.produced_by.size > 0
          %p
            Produced by #{pluralize(@commodity.produced_by.size, 'technology')}:
            = render :partial => "select_commodities", :locals => {:method => :produced_by, :list => @commodity.produced_by}
        -else
          %p Not produced.

- if @commodity.demand?
  = render :partial => 'edit_demand', :locals => {:object=>@commodity}
- elsif @commodity.activated?
  = render :partial => 'edit_commodity', :locals => {:object=>@commodity}

.clear