<% content_for :title, "Editing commodity" %>

<script type="text/javascript">
$(document).ready(function() {
    $('.edit').editable(<%= commodity_path(@commodity).to_json %>,{
        style   : 'inherit',
        width   : 150,
        height  : 18,
        method  : "PUT",
        id      : 'field',
        indicator : <%= image_tag("spinner.gif").to_json %>,
        submitdata: {
          authenticity_token: <%= form_authenticity_token.to_json %>
        }
    });
});
</script>

<div class="grid_6">
  <div class="box">
    <h2>ID card</h2>
    <div class="block"">
    <% form_for(@commodity) do |f| %>
      <%= f.error_messages %>
          <p> <%= f.label :name, 'Name:' %>
            <%= f.text_field :name %>
            <%= f.label :sets, 'Sets:' %> <%=h @commodity.set_list.join(", ") %> <br />
            <%= f.label :description, 'Description:' %>
            <%= f.text_field :description %>
          <%= f.submit 'Update', :class => "confirm button" %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="grid_6">
  <div class="box">
    <h2>Connections</h2>
    <div class="block">
         <p>
          <% if @commodity.consumed_by.size > 0 %>
            Consumed by <%= pluralize(@commodity.consumed_by.size, 'technology') %>:
            <%= select_tag "consumed_by", options_for_select(@commodity.consumed_by) %>.
          <% else %>
            Not consumed.
          <% end %><br />
          <% if @commodity.produced_by.size > 0 %>
            Produced by <%= pluralize(@commodity.produced_by.size, 'technology') %>:
            <%= select_tag "produced_by", options_for_select(@commodity.produced_by) %>.
          <% else %>
            Not produced.
          <% end %>
         </p>
    </div>
  </div>
</div>

<div class="clear"></div>

<% if @commodity.demand? %>

  <div class="grid_12">
    <div class="box">
      <h2>Parameters</h2>
      <div class="block">
        <h4>Demand values</h4>
        <p>
          <%= render :partial => 'shared/parameter_value_table',
            :locals => {:object => @commodity,
            :pid => "dem",
            :request_path => edit_commodity_path(@commodity),
            :parameters => %w{demand},
            :cols => %w{year value source},
            :editable => %w{value source},
            :rules => nil} %>
        </p>
        <h4>Fraction of demand per time-slice</h4>
        <p>
          <%= render :partial => 'shared/parameter_value_table',
            :locals => {:object => @commodity,
            :pid => "frd",
            :request_path => edit_commodity_path(@commodity),
            :parameters => %w{frac_dem},
            :cols => %w{time_slice value source},
            :editable => %w{value source},
            :rules => nil} %>
        </p>
      </div>
    </div>
  </div>

<% else %>

  <div class="grid_12">
    <div class="box">
      <h2>Parameters</h2>
      <div class="block">
        <h4>General parameters</h4>
        <p>
          <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "gen",
					               :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{network_efficiency peak_reserve},
								   :cols => %w{parameter time_slice year value source},
								   :editable => %w{value source},
                                   :rules => {"=network_efficiency" => %w{time_slice year} } } %>
        </p>
        <h4>Import/export parameters</h4>
        <p>
          <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "iep",
			                       :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{cost_imp cost_exp imp_bnd_lo imp_bnd_fx imp_bnd_up exp_bnd_lo exp_bnd_fx exp_bnd_up},
								   :cols => %w{parameter time_slice year value source},
								   :editable => %w{value source},
                                   :rules => nil} %>
        </p>
        <h4>Constraints</h4>
        <p>
          <%= render :partial => 'shared/parameter_value_table',
					   :locals => {:object => @commodity,
					               :pid => "con",
					               :request_path => edit_commodity_path(@commodity),
					               :parameters => %w{com_net_bnd_up_t com_net_bnd_up_ts},
								   :cols => %w{parameter time_slice year value source},
								   :editable => %w{value source},
                                   :rules => {"=com_net_bnd_up_t"  => %w{time_slice} } } %>
        </p>
      </div>
    </div>

  </div>

<% end %>