<% content_for :title, "Editing commodity" %>

<div class="grid_3">

  <div class="box">
    <h2>ID card</h2>
    <div class="block">
    <% form_for(@commodity) do |f| %>
      <%= f.error_messages %>
      <fieldset class="idcard" >
          <p><%= f.label :name, 'Name:' %> <%= f.text_field :name %></p>
          <p><%= f.label :description, 'Description:' %>
             <%= f.text_area :description, :rows => 2 %></p>
          <p><%= f.label :sets, 'Sets:' %> <%=h @commodity.set_list.join(", ") %></p>
          <input type="hidden" name="do" value="update" />
          <p><%= f.submit 'Update', :class => "button" %></p>
       </fieldset>
      <% end %>
    </div>
  </div>

  <div class="box">
    <h2>Flows</h2>
    <div class="block">
         <p>
          <% if @commodity.consumed_by.size > 0 %>
            Consumed by <%= pluralize(@commodity.consumed_by.size, 'technology') %>:
            <%= select_tag "consumed_by", options_for_select(["Edit..."] + @commodity.consumed_by.map{|c|[c.name,c.id]}),
                {:onchange => "if(this.value.length>0){location.href='/technologies/'+this.value+'/edit';}"} %>.
          <% else %>
            Not consumed.
          <% end %><br />
          <% if @commodity.produced_by.size > 0 %>
            Produced by <%= pluralize(@commodity.produced_by.size, 'technology') %>:
            <%= select_tag "produced_by", options_for_select(["Edit..."] + @commodity.produced_by.map{|c|[c.name,c.id]}),
                {:onchange => "if(this.value.length>0){location.href='/technologies/'+this.value+'/edit';}"} %>.
          <% else %>
            Not produced.
          <% end %>
         </p>
    </div>
  </div>

  <div class="box">
    <h2>Actions</h2>
    <div class="block">
      <p>
        <%= link_to 'New', new_commodity_path %>,
        <%= link_to 'Clone', clone_commodity_path, :confirm => 'Are you sure?', :method => :post %>,
        <%= link_to 'Destroy', @commodity, :confirm => 'Are you sure?', :method => :delete %>
      </p>
    </div>
  </div>

</div>

<% if @commodity.demand? %>

  <div class="grid_9">
    <div class="box">
      <h2>Parameters</h2>
      <div class="block">

        <%= render :partial => 'shared/parameter_table',
            :locals => {:object => @commodity,
            :pid => "param",
            :lenght_change => "false",
            :filter => "false",
            :request_path => commodity_path(@commodity),
            :parameters => %w{demand frac_dem},
            :cols => %w{parameter time_slice year value source},
            :editable => %w{value source},
            :rules => {"=demand" => %w{time_slice},
                       "=frac_dem" => %w{year} } } %>

      </div>
    </div>
  </div>

<% else %>

  <div class="grid_9">
    <div class="box">
      <h2>Parameters</h2>
      <div class="block">

<%= render :partial => 'shared/parameter_table',
            :locals => {:object => @commodity,
            :pid => "param",
            :lenght_change => "true",
            :filter => "true",
            :request_path => commodity_path(@commodity),
            :parameters => %w{network_efficiency peak_reserve} +
              %w{cost_imp cost_exp imp_bnd_lo imp_bnd_fx imp_bnd_up} +
              %w{exp_bnd_lo exp_bnd_fx exp_bnd_up } + 
              %w{com_net_bnd_up_t com_net_bnd_up_ts},
            :cols => %w{parameter time_slice year value source},
            :editable => %w{value source},
            :rules => {"=network_efficiency" => %w{time_slice year},
                       "=com_net_bnd_up_t"  => %w{time_slice}} } %>

      </div>
    </div>

  </div>

<% end %>

<div class="clear"></div>