<h1>Listing commodities</h1>

<div id="name_filter">
  <% form_tag request.path, :method => 'get' do %>
    <% content_tag :label do %>
      Name:
      <%= text_field_tag :search, params[:search] %>
      Tags:
      <%=  select_tag "sets", options_for_select(@sets_cloud.map(&:name),params[:sets]) , :multiple => true, :size => 3 %>
      <%= hidden_field_tag :page, 1 %>
      <%= submit_tag "Filter" %>
      <%= link_to "Reset" %>
    <% end %>
  <% end %>
</div>

<div id="commodity_list">
<table>
  <thead><tr><th>Name</th><th>Description</th><th></th><th></th><th></th></tr></thead>
  <tbody>
<% @commodities.each do |commodity| %>
  <tr>
    <td><%=h commodity.name %></td>
    <td><%= truncate(h(commodity.description), :omission => "&hellip;", :length => 50) %></td>
    <td><%= link_to 'Show', commodity %></td>
    <td><%= link_to 'Edit', edit_commodity_path(commodity) %></td>
    <td><%= link_to 'Destroy', commodity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= page_entries_info @commodities %><br />
<%= will_paginate @commodities %>
</div>

<br />

<%= link_to 'New commodity', new_commodity_path %>