<% content_for :title, "Listing commodities" %>

<div class="grid_3">
  
  <div class="box">
    <h2><a href="#" id="toggle-search">Filter</a></h2>
    <div class="block" id="search">

      <h5>Name</h5>
      <% form_tag request.path, :method => 'get' do %>
      <p>
          <%= text_field_tag :search, params[:search], :class => "search text" %>
          <%= submit_tag "Filter", :class => "search button" %>
      </p>
          <%= hidden_field_tag :page, 1 %>
      <% end %>
      <h5>Set</h5>
      <ul class="menu">
        <%  @sets_cloud.each do |tag| %>
          <% c = "active" if tag.name==params[:set] %>
          <li><%= link_to tag.name, {:controller => "commodities", :set => tag.name}, :class => c %></li>
        <% end %>
      </ul>
      <%= link_to "reset filter", commodities_path  %>
      
    </div>
  </div>

  <div class="box">
    <h2>Actions</h2>
    <div class="block"">
      <p><%= link_to 'Add a new commodity', new_commodity_path %></p>
    </div>
  </div>

</div>

<div class="grid_9">

  <div class="box">
    <table summary="Commodity list">
  <thead>
    <tr><th colspan="4" class="table-head">Commodities</th></tr>
    <tr><th>Name</th><th>Description</th><th></th></tr>
  </thead>
  <tbody>
<% @commodities.each do |commodity| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%= link_to (h commodity.name), edit_commodity_path(commodity)  %></td>
    <td><%= link_to truncate(h(commodity.description), :omission => "&hellip;", :length => 100), edit_commodity_path(commodity) %></td>
    <td><%= link_to 'Destroy', commodity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= page_entries_info @commodities %><br />
<%= will_paginate @commodities %>
  </div>
  
</div>

<div class="clear"></div>