<h1>Listing commodities</h1>

<div id="name_filter">
  <% form_tag request.path, :method => 'get' do %>
    <% content_tag :label do %>
      Search term:
      <%= text_field_tag :search, params[:search] %>
      <%= hidden_field_tag :page, 1 %>
    <% end %>
  <% end %>
</div>

<div id="commodity_list">
<table>
  <thead><tr><th>Name</th><th>Description</th><th></th><th></th><th></th></tr></thead>
  <tbody>
<% @commodities.each do |commodity| %>
  <tr>
    <td><%=h commodity.name %></td>
    <td><%= truncate(h(commodity.description), :omission => "&hellip;", :length => 50) %></td>
    <td><%= link_to 'Show', commodity %></td>
    <td><%= link_to 'Edit', edit_commodity_path(commodity) %></td>
    <td><%= link_to 'Destroy', commodity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= page_entries_info @commodities %><br />
<%= will_paginate @commodities %>
(Change to <%= link_to '30', {:controller => "commodities", :per_page => 30, :page => 1} %>,
  <%= link_to '50', {:controller => "commodities", :per_page => 50, :page => 1} %>,
  <%= link_to '100', {:controller => "commodities", :per_page => 100, :page => 1} %> per page)
</div>

<br />

<%= link_to 'New commodity', new_commodity_path %>