.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :new }
.grid_9
  .box
    %h2 New commodity
    .block
      = simple_form_for @commodity do |f|
        = f.input :name
        = f.input :set_list, :collection => Commodity::CATEGORIES, :prompt => "Select commodity type...", :label=>"Type"
        = f.button :submit
        = f.hidden_field :description, :value => ""
.clear