.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New commodity
    .block
      = simple_form_for @commodity do |f|
        = f.input :name
        = f.input :set_list, :collection => %w{C,DEM C,POLL C,ENC C,ENC,IMP C,ENC,IMP,EXP}, :prompt => ""
        = f.button :submit
        = f.hidden_field :description, :value => ""
.clear