.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New commodity
    .block
      = form_for(@commodity) do |f|
        = render "shared/error_messages", :target => @commodity
        %p
          = f.label :name
          = f.text_field :name
        %p
          = f.label :set_list, 'Sets'
          = f.select :set_list, %w{DEM POLL ENC ENC,IMP ENC,IMP,EXP}, {:include_blank => true}
        %p
          = f.submit 'Create', :class => "confirm button"
.clear