.grid_2
  %div(class="box action")
    %h2 Action
    %br
    %p= link_to 'Browse all', commodities_path, class: "action browse"

.grid_10
  .box
    %h2 New commodity
    .block
      = simple_form_for @commodity do |f|
        = f.input :name
        = f.input :set_list, collection: Commodity::CATEGORIES, prompt: "Select commodity type...", label: "Type"
        = f.button :submit, class: "aligned"
        = f.hidden_field :description, value: ""
        = f.hidden_field :energy_system_id, value: @current_res.id
.clear
