<% content_for :title, "Resend confirmation instructions" %>

<div class="grid_3">
  <div class="box">
    <h2>Actions</h2>
    <div class="block">
      <p>
        <%= render :partial => "shared/devise_links" %>
      </p>
    </div>
  </div>
</div>

<div class="grid_5">
  <div class="box">
    <h2>Information</h2>
    <div class="block">
      <% form_for resource_name, resource, :url => confirmation_path(resource_name) do |f| %>

        <%= f.error_messages %>
        <fieldset>
          <p><%= f.label :email, 'Email:' %> <%= f.text_field :email %></p>

          <p><%= f.submit "Resend confirmation instructions" %></p>
        </fieldset>
      <% end %>

    </div>
  </div>
</div>

<div class="clear"></div>