<% content_for :title, "Editing demand driver" %>

<div class="grid_3">

  <div class="box">
    <h2>ID card</h2>
    <div class="block">
    <% form_for(@demand_driver) do |f| %>
      <%= f.error_messages %>
      <fieldset class="idcard" >
          <p><%= f.label :name, 'Name:' %> <%= f.text_field :name %></p>
          <p><%= f.label :definition, 'Definition:' %>
             <%= f.text_area :definition, :rows => 2 %></p>
          <input type="hidden" name="do" value="update" />
          <p><%= f.submit 'Update', :class => "button" %></p>
       </fieldset>
      <% end %>
    </div>
  </div>
  
</div>

<div class="grid_9">

  <div class="box">
    <h2>Demand drivers values</h2>
    <div class="block">
      <%= render :partial => 'shared/driver_table',
            :locals => {:driver => @demand_driver,
            :lenght_change => "false",
            :filter => "false",
            :request_path => demand_driver_path(@demand_driver),
            :cols => %w{year value source},
            :editable => %w{value source}
            } %>
    </div>
  </div>

</div>