<h1>New demand driver</h1>

<% form_for(@demand_driver) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :definition %><br />
    <%= f.text_field :definition %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', demand_drivers_path %>