%script{:type => "text/javascript",
        :src  => "/javascripts/technology_edit.js"}
  
.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :edit }
  .box
    %h2 Technology
    .block(id="idcard")
      = simple_form_for @technology do |f|
        =f.input :name, :input_html => { :size => nil }
        =f.input :description, :as => :text, :input_html => { :rows => 2, :cols=>nil }
        =f.input :set_list, :label => "Type"
        =f.button :submit
        %input(type="hidden" name="do" value="update")
  .box
    %h2 Flows
    .block
      = form_tag(technology_path(@technology), :method => "put") do
        %table
          %thead
            %tr
              %th Inflows
          %tbody
            %tr
              %td
                - @technology.in_flows.each do |f|
                  = render :partial => "flow_desc", :locals => { :f => f, :t => @technology }
          %tfoot
            %tr
              %td
                %a(href="#" onclick="add_flow('#{flows_path}','In flow',#{@technology.id})")
                  + Add inflow
        %table
          %thead
            %tr
              %th Outflows
          %tbody
            %tr
              %td
                - @technology.out_flows.each do |f|
                  = render :partial => "flow_desc", :locals => { :f => f, :t => @technology }
          %tfoot
            %tr
              %td
                %a(href="#" onclick="add_flow('#{flows_path}','Out flow',#{@technology.id})")
                  + Add outflow
        %p
          %select(name="do")
            %option(value="set_act_flo") Set activity flow
            %option(value="combustion_flo") Set combustion coeff(s)
            %option(value="delete_flo") Delete checked flow(s)
          = submit_tag "OK"

.grid_9
  .box
    %h2
      %a#toggle-g Input/Output [Preprocess]
    .block#g
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "in_out",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters => %w{input output},
          :cols => %w{parameter in_flow out_flow commodity value source},
          :editable => %w{value source},
          :rules => nil } %>
      = form_tag(technology_path(@technology), :method => "put") do
        %input(type="hidden" name="do" value="preprocess_input_output")
        = submit_tag "Preprocess ..."
  .box
    %h2
      %a#toggle-a Efficiencies
    .block#a
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "eff_flo",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters => %w{eff_flo },
          :cols => %w{in_flow out_flow value source},
          :editable => %w{value source},
          :rules => nil } %>
  .box
    %h2
      %a#toggle-b Flow parameters
    .block#b
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "flo",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters => %w{flo_bnd_lo flo_bnd_fx flo_bnd_up} +
            %w{flo_share_lo flo_share_fx flo_share_up} +
            %w{peak_prod cost_delivery act_flo},
          :cols => %w{parameter flow commodity time_slice year value source},
          :editable => %w{value source},
          :rules =>  {">flo_bnd" => %w{commodity},
            ">flo_share" => %w{time_slice year},
            "=peak_prod" => %w{flow year},
            "=cost_delivery" => %w{flow},
            "=act_flo" => %w{flow time_slice year}}} %>
  .box
    %h2
      %a#toggle-c Fixed capacities
    .block#c
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "cap",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters => %w{fixed_cap},
          :cols => %w{year value source},
          :editable => %w{value source},
          :rules =>  nil } %>
  .box
    %h2
      %a#toggle-d General
    .block#d
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "gen",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters => %w{life avail cap_act  avail_factor},
          :cols => %w{parameter  time_slice year value source},
          :editable => %w{value source},
          :rules =>  {"=life" => %w{time_slice year},
            "=avail" => %w{time_slice year},
            "=cap_act" => %w{time_slice year} }} %>
  .box
    %h2
      %a#toggle-e Costs
    .block#e
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "cos",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters => %w{cost_vom cost_fom cost_icap},
          :cols => %w{parameter year value source},
          :editable => %w{value source},
          :rules => nil } %>
  .box
    %h2
      %a#toggle-f Bounds
    .block#f
      :erb
        <%= render :partial => 'shared/parameter_table',
          :locals => {:object => @technology,
          :pid => "bnd",
          :length_change => "false",
          :filter => "false",
          :request_path => technology_path(@technology),
          :parameters =>  %w{act_bnd_lo act_bnd_fx act_bnd_up} +
            %w{cap_bnd_lo cap_bnd_fx cap_bnd_up} +
            %w{icap_bnd_lo icap_bnd_fx icap_bnd_up},
          :cols => %w{parameter time_slice year value source},
          :editable => %w{value source},
          :rules =>  {">cap_bnd" => %w{ time_slice},
            ">icap_bnd" => %w{ time_slice} }} %>

.clear

=render :partial => 'flow_editor'