<h1>Editing technology</h1>

<script type="text/javascript">
$(document).ready(function() {
    $('.edit').editable(<%= technology_path(@technology).to_json %>,{
        style   : 'inherit',
        width   : 150,
        height  : 18,
        method  : "PUT",
        id      : 'field',
        indicator : <%= image_tag("spinner.gif").to_json %>,
        submitdata: {
          authenticity_token: <%= form_authenticity_token.to_json %>
        }
    });
    $('#flow_edit').dialog({
        modal: true,
        show: 'blind',
        hide: 'blind',
        width: 500,
        autoOpen: false
    });
    $('#add_commodity_flow').click(function() {
        return !$('#sel_avail_commodity option:selected').clone().appendTo('#sel_flow_commodity');
    });
    $('#remove_commodity_flow').click(function() {
        return !$('#sel_flow_commodity option:selected').remove();
    });
});
function add_flow(flow_type){
    $('#sel_flow_commodity').html("");
    $('#flow_title').text('Add a new ' + flow_type);
    $('#flow_edit').dialog('option', 'buttons', { "Add": function() {
        var com = $('#sel_flow_commodity option');
        var s = "";
        for(var i = 0; i < com.length; i++) {s += com[i].text + ",";}
        $.ajax({url:'<%= flows_path %>',
                type:'POST',
                data:{'commodities':s.substring(0,s.length-1),
                      'technology_id':<%= @technology.id %>,
                      'type':flow_type},
                async:false});
        location.reload();
    } });
    $('#flow_edit').dialog("open");
}
function edit_flow(flow_type,id)
{
	$.getJSON('<%= flows_path %>/' + id + '.js', function(j){
        var options = "";
        var c = j.flow.commodities;
        for(var i = 0; i < c.length; i++) {
            options += '<option>' + c[i].commodity.name + '</option>';
        }
        $('#sel_flow_commodity').html(options);
    })
	$('#flow_title').text('Edit '+flow_type+' (' + id + ')');
    $('#flow_edit').dialog('option', 'buttons', { "Update": function() {
    	var com = $('#sel_flow_commodity option');
        var s = "";
        for(var i = 0; i < com.length; i++) {s += com[i].text + ",";}
        $.ajax({url:'<%= flows_path %>/' + id,
                type:'PUT',
                data:{'commodities':s.substring(0,s.length-1)},
                async:false});
        location.reload();
    } });
    $('#flow_edit').dialog("open");
}
</script>

<table class="idcard">
  <tr>
    <td class="idcard_leftcol">
      <ul>
        <li>Name: <span class="edit" id="name"><%=h @technology.name %></span></li>
        <li>Definition: <span class="edit" id="description"><%=h @technology.description %></span></li>
      </ul>
    </td>
    <td><ul>
      <li>Sets: <%=h @technology.set_list.join(", ")  %></li>
      <li>Places: <%=h @technology.locations.map(&:name).join(", ") %></li>
    </ul></td>
  </tr>
</table>

<script type="text/javascript">
    $(function() {
        $('#tabs').tabs({ cookie: { expires: 7 }});
        $("input:submit").button();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Flows</a></li>
        <li><a href="#tabs-2">Parameters</a></li>
        <li><a href="#tabs-3">Bounds</a></li>
    </ul>
    <div id="tabs-1">
        <div id="flow_list">
        <h3>Flow list</h3>
		<% form_tag(technology_path(@technology), :method => "put") do %>
        <table class="table_flows">
        	<thead><tr><th>Inflows</th><th>Outflows</th></tr></thead>
            <tbody><tr><td>
				<% @technology.in_flows.each do |f| %>
               		<input type="checkbox" name="f<%=f.id%>" />
                    <span class="<%= "flow_act" if f.flow_act_of? @technology %>">
						<%=f.id%>: <%= commodity_url_list f %></span>
                    (<a href="#" onclick="edit_flow('In flow',<%=f.id%>)">edit</a>)<br />
                <% end -%><br />
                + <a href="#" onclick="add_flow('In flow')">Add inflow</a></td><td>
				<% @technology.out_flows.each do |f| %>
                	<input type="checkbox" name="f<%=f.id%>" />
                   	<span class="<%= "flow_act" if f.flow_act_of? @technology %>">
						<%=f.id%>: <%= commodity_url_list f %></span>
                   	(<a href="#" onclick="edit_flow('Out flow',<%=f.id%>)">edit</a>)<br />
                <% end -%><br />
                + <a href="" onclick="add_flow('Out flow')">Add outflow</a></td>
            </tr></tbody>
        </table>
        <select name="do">
			<option value="set_act_flo">Set activity flow</option>
            <option value="delete_flo">Delete checked flow(s)</option>
        </select>
		<%= submit_tag "OK"%>
        <% end -%>
        </div>
        <div id="flow_efficiency">
        <h3>Efficiency</h3>
        <%= render :partial => 'shared/parameter_value_table',
				   :locals => {:object => @technology,
				               :pid => "eff",
				               :request_path => edit_technology_path(@technology),
				               :parameters => %w{eff_flo},
                               :cols => %w{in_flow out_flow value source},
							   :editable => %w{value source},
                               :rules => nil } %>
        </div>
        <div id="flow_param">
        <h3>Other flows parameters</h3>
        <%= render :partial => 'shared/parameter_value_table',
				   :locals => {:object => @technology,
				               :pid => "flo",
				               :request_path => edit_technology_path(@technology),
				               :parameters => %w{act_flo flo_bnd_lo flo_bnd_fx flo_bnd_up flo_share_lo flo_share_fx flo_share_up},
							   :cols => %w{parameter flow commodity time_slice year value source},
							   :editable => %w{value source},
                               :rules => { "=act_flo" => %w{flow time_slice year},
                                           ">flo_bnd" => %w{commodity},
                                           ">flo_share" => %w{time_slice year} }} %>
        </div>
    </div>
    <div id="tabs-2">
        <div id="parameter_tid">
        <h3>General Parameters</h3>
        <%= render :partial => 'shared/parameter_value_table',
				   :locals => {:object => @technology,
				               :pid => "gen",
				               :request_path => edit_technology_path(@technology),
				               :parameters => %w{life avail cap_act},
							   :cols => %w{parameter value source},
							   :editable => %w{value source},
                               :rules => nil} %>
        </div>
        <div id="parameter_td">
        <h3>Time-dependent Parameters</h3>
        <%= render :partial => 'shared/parameter_value_table',
				   :locals => {:object => @technology,
				               :pid => "tdp",
				               :request_path => edit_technology_path(@technology),
				               :parameters => %w{cost_vom cost_fom cost_icap cost_delivery avail_factor peak_prod fixed_cap},
							   :cols => %w{parameter location commodity time_slice year value source},
							   :editable => %w{value source},
                               :rules => {"=fixed_cap" => %w{commodity year},
                                          "=peak_prod" => %w{location year},
                                          "=avail_factor" => %w{location commodity},
                                          "=cost_delivery" => %w{location},
                                          "=cost_icap" => %w{location commodity time_slice},
                                          "=cost_vom" => %w{location commodity time_slice},
                                          "=cost_fom" => %w{location commodity time_slice} } } %>
        </div>

    </div>
    <div id="tabs-3">

        <div id="parameter_bnds">
        <h3>Bounds Parameters</h3>
        <%= render :partial => 'shared/parameter_value_table',
				   :locals => {:object => @technology,
				               :pid => "bnd",
				               :request_path => edit_technology_path(@technology),
				               :parameters => %w{act_bnd_lo act_bnd_fx act_bnd_up cap_bnd_lo cap_bnd_fx cap_bnd_up icap_bnd_lo icap_bnd_fx icap_bnd_up},
							   :cols => %w{parameter location time_slice year value source},
							   :editable => %w{value source},
                               :rules => nil} %>
        </div>

    </div>

    <div id="flow_edit">
        <div id="commodity_list">
            <h3 id="flow_title">Flow editor (new)</h3>
            <% form_tag({:action => "flow", :id => @technology}, :method => "post") do %>
            <table class="tablecommoditylist">
            <thead><tr><th>Available commodities</th><th class="flow_separator"></th><th>Flow commodities</th></tr></thead>
            <tbody>
                <tr>
                    <td>
                        <select multiple size="10" id="sel_avail_commodity" class="ui-button ui-widget ui-state-default ui-corner-all">
                            <optgroup label="Energy Carriers">
                                <% Commodity.tagged_with("ENC").each do |c| %>
                                <option><%=h c.name %></option>
                                <% end -%>
                            </optgroup>
                            <optgroup label="Pollutants">
                                <% Commodity.tagged_with("POLL").each do |c| %>
                                <option><%=h c.name %></option>
                                <% end -%>
                            </optgroup>
                            <optgroup label="Useful demands">
                                <% Commodity.tagged_with("DEM").each do |c| %>
                                <option><%=h c.name %></option>
                                <% end -%>
                            </optgroup>
                        </select>
                        <p style="text-align: center"><a href="#" id="add_commodity_flow">add &gt;&gt;</a></p>
                    </td>
                    <td class="flow_separator">
                    </td>
                    <td>
                        <select multiple size="10" id="sel_flow_commodity" class="ui-button ui-widget ui-state-default ui-corner-all">
                        </select>
                        <p style="text-align: center"><a href="#" id="remove_commodity_flow">&lt;&lt; remove</a></p>
                    </td>
                </tr>
            </tbody>
            </table>
            <% end -%>
        </div>
    </div>
</div>