.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :index }
  
  .box
    %h2 Filter
    .block#search
    %h5 Name
    = render :partial => "/shared/search"
    %h5 Set
    %ul.menu
      - %w{DMD FUELTECH}.each do |tag|
        - c = "active" if tag==params[:set]
        %li= link_to tag, {:controller => "technologies", :set => tag}, :class => c
      = link_to "reset filter", technologies_path

  - if @last_visited.size > 0
    .box
      %h2 Last visited
      .block
        %p
          - @last_visited.each do |item|
            = link_to (h item.name), edit_technology_path(item)
            %br

.grid_9

  .box
    %h2 Browse technologies
    %p
      %table(summary="Technology list")
        %thead
          %tr
            %th Name
            %th Description
            %th
        %tbody
          - @technologies.each do |technology|
            %tr{ :class => cycle('even', 'odd') }
              %td= link_to technology.name, edit_technology_path(technology)
              %td= link_to truncate(technology.description, :omission => "...",
                              :length => 100),
                              edit_technology_path(technology)
              %td= link_to 'Delete', technology, :confirm => 'Are you sure?', :method => :delete
      = page_entries_info @technologies
      %br
      = will_paginate @technologies
      
.clear