:javascript
  $(document).ready(function() {
  	$('.list_table').dataTable( {
  		"bProcessing"    : true,
  		"bServerSide"    : true,
  	    "bFilter"        : true,
        "bLengthChange"  : true,
        "bStateSave"     : true,
        "bSort"          : true,
        "bInfo"          : true,
        "aaSorting"      : [[1,'asc']],
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 25,
        "bAutoWidth"     : false,
  		"sAjaxSource"    : #{list_technologies_path.to_json},
  	    "fnServerData"   : function ( sSource, aoData, fnCallback ) {
            aoData.push( { "name": "set", "value": #{params[:set].to_json} } );
            $.getJSON( sSource, aoData, function (json) {
              fnCallback(json)
            } );
          },
        "aoColumnDefs"   : [ {"bSortable" : false,   "aTargets": [0] } ],
  	    "oLanguage"      : {"sSearch": "Filter:","sProcessing": #{image_tag("spinner.gif").to_json}},
  	    "sDom"           : 'lrft<"dataTable_delete">pi'
  	} );
    $("div.dataTable_delete").html(#{submit_tag('Delete',:class=>'button delete',:confirm => "Are you sure?" ).to_json});
  } );

.grid_2

  .box
    %h2 Action
    .block
      %p= link_to('New technology', new_technology_path, :class => 'action new')

  .box
    %h2 Type
    .block
      %ul.menu
        %li
          - c0 = "active" unless params[:set]
          = link_to "All", technologies_path, :class => c0
          - [["Demand devices", "DMD"], ["Fuel technologies","FUELTECH"]].each do |tag|
            - c = "active" if tag[1]==params[:set]
            %li= link_to tag[0], {:controller => "technologies", :set => tag[1]}, :class => c

  - if @last_visited.size > 0
    .box
      %h2 Last visited
      .block
        %p
          - @last_visited.each do |item|
            = link_to (h item.name), technology_path(item)
            %br

.grid_10
  .box
    %h2 Browse technologies
    %p
      = form_tag(destroy_all_technologies_path,:method => "delete") do
        %table(class="list_table" summary="Technology list")
          %thead
            %th(class='check')
              = check_box_tag("click_check",nil,nil,:class=>"check_all")
            %th(class='name') Name
            %th Description
          %tbody
            %tr
              %td(colspan="3" class="list_table_empty")
                Loading data
    %br
    %br

.clear