<h1>Listing technologies</h1>

<div id="name_filter">
  <% form_tag request.path, :method => 'get' do %>
    <% content_tag :label do %>
      Search term:
      <%= text_field_tag :search, params[:search] %>
      <%= hidden_field_tag :page, 1 %>
    <% end %>
  <% end %>
</div>

<div id="technology_list">
<table>
  <thead><tr><th>Name</th><th>Description</th><th></th><th></th><th></th></tr></thead>
  <tbody>
<% @technologies.each do |technology| %>
  <tr>
    <td><%=h technology.name %></td>
    <td><%= truncate(h(technology.description), :omission => "&hellip;", :length => 50) %></td>
    <td><%= link_to 'Show', technology %></td>
    <td><%= link_to 'Edit', edit_technology_path(technology) %></td>
    <td><%= link_to 'Destroy', technology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= page_entries_info @technologies %><br />
<%= will_paginate @technologies %>
(Change to <%= link_to '30', {:controller => "technologies", :per_page => 30, :page => 1} %>,
  <%= link_to '50', {:controller => "technologies", :per_page => 50, :page => 1} %>,
  <%= link_to '100', {:controller => "technologies", :per_page => 100, :page => 1} %> per page)
</div>

<br />

<br />

<%= link_to 'New technology', new_technology_path %>