.grid_3
  .box(class="action")
    %h2 Actions
    %br
    %p= link_to 'Browse all', technologies_path, :class => "action browse"

.grid_9
  .box
    %h2 New Technology
    .block
      = simple_form_for @technology do |f|
        = f.input :name
        = f.input :set_list, :collection => [["Standard Process","P"],["Demand devices","P,DMD"]], :prompt => "Select technology type...", :label=>"Type"
        = f.button :submit, :class => "aligned"
        = f.hidden_field :description, :value => ""
.clear