.grid_3
  = render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New Technology
    .block
      = simple_form_for @technology do |f|
        = f.input :name
        = f.input :set_list, :collection => %w{P P,DMD}, :prompt => ""
        = f.button :submit
        = f.hidden_field :description, :value => ""
.clear