:javascript
  var pvtable;
  var currentcol = null;
  function draw_editable() {
    $('.edit').editable(#{raw update_value_parameter_values_path.to_json},{
        style   : 'inherit',
        width   : "100%",
        height  : 15,
        method  : "PUT",
        id      : 'field',
        submitdata: {
          authenticity_token: #{raw form_authenticity_token.to_json}
        }
    });
  }
  function delete_all() {
    if (confirm("Are you sure you want to delete")) {
      var mydata = new Object();
      $('input:checkbox:checked').each(function() {
        mydata[$(this).attr('id')]=$(this).val();
      });
      $.ajax({
        'url': #{destroy_all_parameter_values_path.to_json},
        'type': 'POST',
        'data': mydata,
        'async': false,
        'dataType': 'json'
      });
      pvtable.fnDraw();
    }
  }
  function add_pv() {
    var mydata = new Object();
    var attributes = new Object();
    var fields = ['parameter','year','time_slice','commodity','flow','in_flow','out_flow',
                  'aggregate','market','sub_market','value','source','scenario']
    fields.forEach(function (element) {
      if ($('#new_'+element)) {
        console.log(element + ': ' + $('#new_'+element).val());
        attributes[element] = $('#new_'+element).val();
      }
    });
    mydata['pv'] = attributes;
    $.ajax({
      'url': #{parameter_values_path.to_json},
      'type': 'POST',
      'data': mydata,
      'async': false,
      'dataType': 'json'
    });
    pvtable.fnDraw();
  }
  var typewatch = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    }
  })();
  function ShowHide(iCol,iCol2){
    var bVis = pvtable.fnSettings().aoColumns[iCol2].bVisible;
    pvtable.fnSetColumnVis( iCol2, bVis ? false : true );
    $("a#switch"+iCol).toggleClass('colVisible');
  }
  $(document).ready(function() {
  	pvtable = $('#parameter_value_table').dataTable( {
  		"bProcessing"    : true,
  		"bServerSide"    : true,
  	    "bFilter"        : true,
        "bLengthChange"  : true,
        "bStateSave"     : true,
        "bSort"          : true,
        "bInfo"          : true,
        "aaSorting"      : [[1,'asc']],
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 10,
        "bAutoWidth"     : false,
  		"sAjaxSource"    : #{list_parameter_values_path.to_json},
  	    "fnServerData"   : function ( sSource, aoData, fnCallback ) {
            $.ajax( {
              "dataType": 'json',
              "type":     "POST",
              "url": sSource,
              "data": aoData,
              "success": fnCallback
            } );
          },
        "fnDrawCallback": function() { draw_editable(); },
        "aoColumnDefs"   : [ {"bSortable" : false,   "aTargets": [0,6,7,8] } ],
  	    "oLanguage"      : {"sSearch": "Filter:","sProcessing": #{image_tag("spinner.gif").to_json}},
  	    "sDom"           : 'lrit<"dataTable_delete">p<"dataTable_add">'
  	} );
    $("div.dataTable_delete").html(#{link_to_function('Delete checked','delete_all()',:class=>'action delete').to_json});
    $("div.dataTable_add").html(#{link_to_function('Add','add_pv()',:class=>'action add_pv').to_json});
    $( ".suggest_commodity" ).autocomplete({
      source: #{suggest_commodities_path.to_json},
      minLength: 2
    });
    $( ".suggest_technology" ).autocomplete({
      source: #{suggest_technologies_path.to_json},
      minLength: 2
    });
    $( ".suggest_parameter" ).autocomplete({
      source: #{suggest_parameters_path.to_json},
      minLength: 2
    });
    $( ".suggest_aggregate" ).autocomplete({
      source: #{suggest_aggregates_path.to_json},
      minLength: 2
    });
    $( ".suggest_market" ).autocomplete({
      source: #{suggest_markets_path.to_json},
      minLength: 2
    });
    $( ".suggest_scenario" ).autocomplete({
      source: #{suggest_scenarios_path.to_json},
      minLength: 2
    });
    for(var i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]){
      $("thead input#col"+i).keyup( function () {
        currentcol = this.id.substr(3,2);
        typewatch(function () {
          pvtable.fnFilter($("thead input#col"+currentcol).val(),currentcol);
        }, 500);
      });
      if (pvtable.dataTableSettings[0].oLoadedState.aaSearchCols[i]){
        $("thead input#col"+i).val(pvtable.dataTableSettings[0].oLoadedState.aaSearchCols[i][0]);
      }
      if (pvtable.fnSettings().aoColumns[i].bVisible) {
        $("a#switch"+i).addClass('colVisible')
      }
    }
  });
.grid_12
  .box
    %h2 Browse Parameter Values
    %p
      %br
      Show/hide columns
      |
      - cols = %w{Parameter Year TS Technology Commodity Flow InFlow OutFlow Aggregate Market SubMarket Value Source Scenario}
      - cols.each_with_index do |col,i|
        = link_to_function col, "ShowHide(#{i},#{i+1})", :id => "switch#{i}"
        |
    = form_tag(destroy_all_parameter_values_path) do
      %table(id="parameter_value_table" summary="Parameter Values list")
        %thead
          %tr
            %th(class='check')
            %th Parameter
            %th Year
            %th TS
            %th Technology
            %th Commodity
            %th Flow
            %th InFlow
            %th OutFlow
            %th Aggregate
            %th Market
            %th SubMarket
            %th Value
            %th Source
            %th Scenario
          %tr
            %th(class='check inputs')
              = check_box_tag("click_check",nil,nil,:class=>"check_all")
            %th(class='inputs')
              %input(type="textcell" id="col1")
            %th(class='inputs')
              %input(type="textcell" id="col2" size="4")
            %th(class='inputs')
              %select(id="col3" class="tiny")
                = options_for_select([""] + %w{AN SD SN ID IN WN WD})
            %th(class='inputs')
              %input(type="textcell" id="col4")
            %th(class='inputs')
              %input(type="textcell" id="col5")
            %th(class='inputs')
            %th(class='inputs')
            %th(class='inputs')
            %th(class='inputs')
              %input(type="textcell" id="col9")
            %th(class='inputs')
              %input(type="textcell" id="col10")
            %th(class='inputs')
              %input(type="textcell" id="col11")
            %th(class='inputs')
              %input(type="textcell" id="col12")
            %th(class='inputs')
              %input(type="textcell" id="col13")
            %th(class='inputs')
              %input(type="textcell" id="col14")
        %tbody
          %tr
            %td(colspan="15" class="list_table_empty")
              Loading data
        %tfoot
          %tr
            %th(class='check')
            %th Parameter
            %th Year
            %th TS
            %th Technology
            %th Commodity
            %th Flow
            %th InFlow
            %th OutFlow
            %th Aggregate
            %th Market
            %th SubMarket
            %th Value
            %th Source
            %th Scenario
          %tr
            %th(class="check inputs")
            %th(class='inputs')
              %input(type="textcell" class="suggest_parameter" id="new_parameter" name="pv[parameter]")
            %th(class='inputs')
              %input(type="textcell" id="new_year" name="pv[new_year]")
            %th(class='inputs')
              %select(id="new_time_slice" class="tiny")
                = options_for_select([""] + %w{AN SD SN ID IN WN WD})
            %th(class='inputs')
              %input(type="textcell" class="suggest_technology" id="new_technology" name="pv[technology]")
            %th(class='inputs')
              %input(type="textcell" class="suggest_commodity" id="new_commodity" name="pv[commodity]")
            %th(class='inputs')
              %input(type="textcell" id="new_flow" name="pv[flow]")
            %th(class='inputs')
              %input(type="textcell" id="new_in_flow" name="pv[in_flow]")
            %th(class='inputs')
              %input(type="textcell" id="new_out_flow" name="pv[out_flow]")
            %th(class='inputs')
              %input(type="textcell" class="suggest_aggregate" id="new_aggregate" name="pv[aggregate]")
            %th(class='inputs')
              %input(type="textcell" class="suggest_market" id="new_market" name="pv[market]")
            %th(class='inputs')
              %input(type="textcell" class="suggest_market" id="new_sub_market" name="pv[sub_market]")
            %th(class='inputs')
              %input(type="textcell" id="new_value" name="pv[value]")
            %th(class='inputs')
              %input(type="textcell" id="new_source" name="pv[source]")
            %th(class='inputs')
              %input(type="textcell" class="suggest_scenario" id="new_scenario" name="pv[scenario]")
      %br
      %br
      %br
.clear