.grid_3
  = render :partial => 'shortcuts', :locals => { :page => :new }
.grid_9
  .box
    %h2 New Solver job
    .block
      = simple_form_for @solver do |f|
        %p
          = label_tag :first_year, 'Base year:'
          = text_field_tag :first_year, params[:first_year]
        %p
          = label_tag :nb_periods, 'Number of periods:'
          = text_field_tag :nb_periods, params[:nb_periods]
        %p
          = label_tag :period_duration, 'Period duration (years):'
          = text_field_tag :period_duration, params[:period_duration]
        %p
          = label_tag :language, 'Modeling language:'
          = select_tag :language, options_for_select([["GLPK","GMPL"],["GAMS","GAMS"]],params[:language])
        =f.button :submit, 'Launch solver'
.clear