- if @refresh
  :javascript
    setTimeout(function(){location.reload();}, 15000);
:javascript
  function import_res(new_output_path,id) {
    var sim_id = $('#sim_' +id+ ' option:selected')[0].value
    if(sim_id=="0"){
      location.href=new_output_path;
      return false;
    }
    $.blockUI({ message: '<b>Please wait...</b>',
      css: { border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        opacity: .5,
        color: '#fff'
      }});
    location.href = '/outputs/' + sim_id + '/import?solver_id=' + id;
  }
.grid_3
  .box(id="action")
    .block(id="action")
      %p(class="action")
        = link_to 'Browse', solvers_path, :class => "action browse"
        - if @solver.solved? && @solver.has_files?
          = link_to (@solver.solved? && @solver.has_files?) ? "delete" : "kill", @solver,
            :method=>:delete, :confirm => "Are you sure?", :class => "action delete"
        %br
        - if @solver.solved? && @solver.has_files?
          = link_to_function("Import into ResultSet",
              "import_res(#{new_output_path.to_json},#{@solver.id})" , :class => "action delete")
          = select_tag "sim_#{@solver.id}", options_for_select(@outputs.map {|o| [o.name,o.id]}+[['New...',0]])
  .box
    %h2 parameters
    %block
      %p
        %br
        First year: #{@solver.first_year}
        %br
        Nb periods: #{@solver.nb_periods}
        %br
        Period duration: #{@solver.period_duration}
        %br
        Language: #{@solver.language}

.grid_9
  .box
    %h2
      ID: #{@solver.pid} -
      Status: #{@solver.current_state.name}
      - if @solver.solving?
        =  image_tag("solving.gif",:align=>:absmiddle,:height=>"9px")
    .block
      - if (@solver.solved? && @solver.has_files?)
        %p Total time resolution: (#{@solver.time_used} sec)
      #log
        %h5 Log
        #display_log
          - if (@solver.solved? && !@solver.has_files?)
            log file should have been deleted because of its age. Please reinit the solver
          %pre= raw log_with_link(sanitize @solver.log)