<h1>Output</h1>
<div id="idcard">
  <ul>
    <li>Name: <%=h @output.name %></li>
    <li>Description: <%=h @output.description %></li>
    <li>Created: <%=h @output.created_at %></li>
    <li>Download: <%= link_to_if @output.has_results?, "csv", csv_output_path(@output) %></li>
  </ul>
</div>

<% if @output.has_results? %>

  <div id="table_builder">
    <h2>Predefined tables</h2>
    <% %w{AGR IND TRA RSD COM}.each do |sector| %>
      <% form_tag output_path(@output), :method => :put do %>
        <%= sector %>  -  Final Energy (PJ)
        <%= hidden_field :table, :name, :value => "#{sector} -  Final Energy (PJ)" %>
        <%= hidden_field :table, :attribute, :value => "VAR_COM" %>
        <%= hidden_field :table, :formula, :value => "P ~ C" %>
        <%= hidden_field :table, :filter, :value => "P %in% grep('^#{sector}',P,value=TRUE) & C %in% grep('_#{sector}',C,value=TRUE) & !C %in% c('CO2_#{sector}','CH4_#{sector}','NMVOC_#{sector}','NOX_#{sector}','PM10_#{sector}','PM25_#{sector}') & S=='ANNUAL' & T=='1'" %>
        <%= submit_tag 'Show' %>
      <% end %>
    <% end %>
    <h2>Table builder</h2>
      <div id="tableselector">
        <% form_tag output_path(@output), :method => :put do %>

          <%= hidden_field :table, :name, :value => "" %>

          <%= label :table, :attribute %>
          <%= select_tag "table[attribute]",  options_for_select(Output::ATTRIBUTES, params[:table][:attribute]) %>

          <%= label :table, :formula %>
          <%= text_field :table, :formula, :value => params[:table][:formula] %>

          <%= label :table, :filter %>
          <%= text_field :table, :filter, :value => params[:table][:filter] %>

          <%= submit_tag 'Compute Table' %>
        <% end %>
        <%= link_to "Reset table", @simulation %>
      </div>
    </div>


  <% if params[:table][:result] %>
  <div id="tableres" style="padding:1em;">
    <%=h params[:table][:name]  %>
    <% header = true %>
    <table>
    <% FasterCSV.parse(params[:table][:result]) do |row| %>
      <% if header %>
        <thead><tr><% row[1..-1].each do |x| %><td><%=h x %></td><% end %></tr></thead><tbody>
        <% header = false %>
      <% else %>
        <tr><% row[1..-1].each do |x| %><td><%=h x %></td><% end %></tr>
      <% end -%>
    <% end %>
    </tbody></table>
  </div>
  <% end %>

<% else %>
      No results yet. <%= link_to "Go to solver page", solver_index_path %>.
<% end %>
