<% content_for :title, "Result" %>

<div class="grid_12">
  <div class="box">
    <h2>ID card</h2>
    <div class="block"">
         <ul>
        <li>Name: <%=h @output.name %></li>
        <li>Description: <%=h @output.description %></li>
        <li>Download: <%= link_to_if @output.has_results?, "csv", csv_output_path(@output) %></li>
      </ul>
    </div>
  </div>
</div>

<div class="clear"></div>

<% if @output.has_results? %>

  <div class="grid_12">
    <div class="box">
      <h2>Table Definition</h2>
      <div class="block">
        <h4>Load a predefined table</h4>
        <% form_tag output_path(@output), :method => :put do %>
        <p>
          <%= select_tag "table[id]", options_for_select(@tables.map{|t|[t.name,t.id]}, params[:table][:id]) %>

          <%= submit_tag 'Load and display' %>
        </p>
        <% end %>
        <h4>Define the table</h4>
        <% form_tag output_path(@output), :method => :put do %>
<p>
          <%= hidden_field :table, :name, :value => "" %>
          <%= hidden_field :table, :id, :value => 0 %>

          <%= label :table, :attribute %>
          <%= select_tag "table[attribute]", options_for_select(Table::VARIABLES.collect{ |a| [a,a]}, params[:table][:attribute]) %>

          <%= label :table, :aggregate %>
          <%= select_tag "table[aggregate]", options_for_select(Table::AGGREGATES.collect{ |a| [a,a.downcase]}, params[:table][:aggregate]) %>

          <%= label :table, :formula %>
          <%= text_field :table, :formula, :value => params[:table][:formula] %>

          <%= label :table, :filter %>
          <%= text_field :table, :filter, :value => params[:table][:filter] %>
          <%= submit_tag 'Display' %>
</p>
        <% end %>
        <%= link_to "Reset table", @output %>
      </div>
    </div>
    <div class="box">
      <h2>Table</h2>
      <% if params[:table][:result] %>
        <div class="block">
          <div id="tableres" style="padding:1em;">
            <% header = true %>
            <table>
              <% FasterCSV.parse(params[:table][:result]) do |row| %>
                <% if header %>
                  <thead>
                    <tr><th colspan="<%= row.size() - 1 %>" class="table-head"><%=h params[:table][:name]  %></th></tr>
                    <tr><% row[1..-1].each do |x| %><td><%=h x %></td><% end %></tr>
                  </thead>
                  <tbody>
                    <% header = false %>
                  <% else %>
                    <tr><% row[1..-1].each do |x| %><td><%=h x %></td><% end %></tr>
                  <% end -%>
                <% end %>
              </tbody></table>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="grid_12">
    <div class="box">
      <h2>ID card</h2>
      <div class="block">
        <p>No results yet. Go to the <%= link_to "solver page", solver_index_path %> to import results.</p>
      </div>
    </div>
  </div>
<% end %>