<h1>Output</h1>
<div id="idcard">
  <ul>
    <li>Name: <%=h @output.name %></li>
    <li>Description: <%=h @output.description %></li>
    <li>Created: <%=h @output.created_at %></li>
    <li>Download: <%= link_to_if @output.has_results?, "csv", csv_output_path(@output) %></li>
  </ul>
</div>

<% if @output.has_results? %>

  <div id="table_builder">
    <h2>Predefined tables</h2>
      <% form_tag output_path(@output), :method => :put do %>
        <%= select_tag "table[id]", options_for_select(@tables.map{|t|[t.name,t.id]}, params[:table][:id]) %>
        <%= submit_tag 'Display' %>
      <% end %>
    <h2>Temporary table</h2>
      <div id="tableselector">
        <% form_tag output_path(@output), :method => :put do %>

          <%= hidden_field :table, :name, :value => "" %>
          <%= hidden_field :table, :id, :value => 0 %>

          <%= label :table, :attribute %>
          <%= select_tag "table[attribute]", options_for_select(Table::VARIABLES.collect{ |a| [a,a]}, params[:table][:attribute]) %>

          <%= label :table, :aggregate %>
          <%= select_tag "table[aggregate]", options_for_select(Table::AGGREGATES.collect{ |a| [a,a.downcase]}, params[:table][:aggregate]) %>

          <%= label :table, :formula %>
          <%= text_field :table, :formula, :value => params[:table][:formula] %>

          <%= label :table, :filter %>
          <%= text_field :table, :filter, :value => params[:table][:filter] %>

          <%= submit_tag 'Display' %>
        <% end %>
        <%= link_to "Reset table", @simulation %>
      </div>
    </div>


  <% if params[:table][:result] %>
  <div id="tableres" style="padding:1em;">
    <%=h params[:table][:name]  %>
    <% header = true %>
    <table>
    <% FasterCSV.parse(params[:table][:result]) do |row| %>
      <% if header %>
        <thead><tr><% row[1..-1].each do |x| %><td><%=h x %></td><% end %></tr></thead><tbody>
        <% header = false %>
      <% else %>
        <tr><% row[1..-1].each do |x| %><td><%=h x %></td><% end %></tr>
      <% end -%>
    <% end %>
    </tbody></table>
  </div>
  <% end %>

<% else %>
      No results yet. <%= link_to "Go to solver page", solver_index_path %>.
<% end %>