%head
  %meta(charset="utf-8")
  %meta(name="description" content=@description)
  %meta(name="keywords" content="#{@keywords.join ', '}")
  %meta(name="author" content=@author)
  %title= @title.join ' - '
  = stylesheet_link_tag "reset", "text", "grid", "layout", "nav", "jquery-ui", :cache => true
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  = common_js
  = csrf_meta_tag
