%head
  %meta(charset="utf-8")
  %meta(name="description" content=@description)
  %meta(name="keywords" content="#{@keywords.join ', '}")
  %meta(name="author" content=@author)
  %title
    = @title
    = yield (:title) || ""
  <link rel="shortcut icon" type="images/x-icon" href="/favicon.ico" />
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tag
