.grid_12
  %ul.nav.main
    %li
      = link_to 'Database', root_path, {:class=>"left_side"}
      - if @current_res
        %ul
          %li= link_to 'Energy System', root_path
          %li= link_to 'Commodities', commodities_path
          %li= link_to 'Technologies', technologies_path
          %li= link_to "Demand drivers", demand_drivers_path
          %li= link_to "Technology sets", technology_sets_path
          %li= link_to "Commodity sets", commodity_sets_path
          %li= link_to "Scenarios", scenarios_path
    - if @current_res
      %li
        = link_to 'ETEM model', '#'
        %ul
          %li= link_to 'Solver jobs', solver_jobs_path
    %li
      = link_to 'Results', '#'
      %ul
        %li= link_to 'Result sets', result_sets_path
        %li= link_to 'Query', query_path
    %li
      = link_to 'Tools', '#'
      %ul
        %li= link_to "Emission coefficients", combustions_path
        %li= link_to 'Stored queries', stored_queries_path
        %li= link_to 'Last Changes', versions_path
    %li.secondary
      = link_to "Sign out (#{current_user.email})", destroy_user_session_path, {:class=>"right_side", :id=>"info_user"}
.clear