<!DOCTYPE html>
%html
  = render 'layouts/head'
  %body
    .container_12
      = render 'layouts/header'
      = render 'layouts/menu'
      .grid_12
        - [:alert, :notice].each do |type|
          - if flash[type]
            %div(class=type)
              = link_to_function image_tag('cross.png', :align => "right"), "$('.#{type}').fadeOut()"
              %br
              = flash[type]
      .clear

      = yield

      = render 'layouts/footer'
